[2020-04-19 20:55] Jeremywhiteley opened #1 "Flutter Web and openid?"
Any plans to make this work with open ID connect and flutter web?

[2020-04-20 08:50] okrad commented on #1
Hi @Jeremywhiteley, OpenID Connect support is definitely on the roadmap.
As for flutter web, we are currently thinking about it. It could be split in a second package since we would need a dedicated set of dependencies.

[2020-04-20 22:55] Jeremywhiteley commented on #1
We really need a OpenID Connect solution that works with both Web and Mobile.  So we can have a one code base.  Similar to what they did with Firebase Auth.   So far I haven't found one.  I want to get it work with Azure AD B2C.

[2020-04-21 03:34] Ferdzzzzzzzz opened #2 "Auth0"
Hi there, firstly: this package looks really cool, excited to try it out. Secondly: do you have Auth0 on the roadmap? Or would it be better to wait for their dedicated SDK? (they haven't announced it yet but the rumors are strong).

[2020-04-21 06:55] teranetsrl commented on #1
Your insight is much appreciated and I can understand your requirements. Will surely take into consideration porting the library to the web platform.

[2020-04-21 07:17] okrad commented on #2
Hi @Ferdzzzzzzzz, not a big expert of Auth0, but from my understanding it relays on OAuth2 with OpenID Connect and JWT tokens, which are both on our roadmap.
I guess once they are implemented, we could then implement a dedicated client to seamlessly integrate with Auth0.

[2020-04-22 04:42] phamotcreations opened #3 "iOS App crashes"
Hi,
I am using AUTHORIZATION_CODE grantType and just started using this library. My iOS app crashes when I call helper.get().
I am using v1.1.2

[2020-04-22 04:54] phamotcreations opened #4 "Android build fails"
Ran flutter doctor. No issues found,
Also did flutter clean.
I am not sure why I am seeing this only for flutter_web_auth.
[code]

[2020-04-22 05:01] phamotcreations opened #5 "Custom headers for get and post"
Need custom headers in helper.post() and helper.get() for custom clients

[2020-04-22 17:35] anatolieGhebea commented on #4
Hi @phamotcreations, try to upgrade your gradle package.

[2020-04-22 17:41] anatolieGhebea commented on #4
Hi @phamotcreations , try to update your gradle package, to do so go to
`android/gradle/wrapper/gradle-wrapper.properties`
and change the distributionUrl to a newer version, like the following one
`distributionUrl=https\://services.gradle.org/distributions/gradle-6.0.1-all.zip`

This worked form me!
( I'm compiling on macOS catalina 10.15 )

[2020-04-22 19:44] okrad commented on #3
Hi @phamotcreations, can you try updating your ios/Podfile, and set the property:

[code]

[2020-04-22 19:48] okrad commented on #5
Hi @phamotcreations,
it's implemented in the newly published 1.2.0 version!

[2020-04-24 16:32] #1 closed

[2020-04-29 13:47] schmidtfx opened #6 "Fetch token does not await storage of token in store"
In the function fetchToken of file oauth2_client/lib/oauth2_helper.dart I'd expect an await on storing the token in the storage.

[2020-04-29 20:21] #6 closed

[2020-04-29 20:22] okrad commented on #6
Hi @schmidtfx, you are right, thank you for pointing it out!

[2020-04-30 13:19] oldbig opened #7 "How to logout?"
How to logout? It seems no that method in OAuth2Helper.

[2020-05-01 09:55] okrad commented on #7
Hi @oldbig, the OAuth standard doesn't provide a proper "logout" mechanism since it's not an authentication framework (but rather an authorization framework). It however defines a "Token Revocation" flow which should be used by clients to tell the server that the Access Token or the Refresh Token should be invalidated, so that they cannot be used anymore.

If this is what you need, it's implementa

[2020-05-01 09:55] #5 closed

[2020-05-01 09:56] okrad commented on #3
Hi @phamotcreations, did you manage to make it work? Can I close the issue?

[2020-05-01 09:57] okrad commented on #4
@phamotcreations, does @anatolieGhebea suggestion work for you too? Can I close the issue?

[2020-05-01 11:22] jimad7 commented on #3
The iOS App crashes on this row (for me)

final result = await FlutterWebAuth.authenticate(
        url: authorizeUrl, callbackUrlScheme: customUriScheme);

Everything else works and no errors on android.

[2020-05-01 14:09] oldbig commented on #7
Hi @okrad  I am clear.
Thank you very much !

[2020-05-01 14:09] #7 closed

[2020-05-03 19:04] jimad7 commented on #3
Hi again, sorry for hijacking this issue, but i found the error that caused the crash on ios in my app. I accidentally added a blank space in the scope parameters for openid: ['openid ', 'profile']. That extra space character crashed the app. Sorry!

[2020-05-03 20:16] #3 closed

[2020-05-03 20:20] okrad commented on #3
Hi @jimad7, thank you for letting me know. I just published a fix that trims the scopes parameter.

[2020-05-05 14:03] jimad7 opened #8 "TokenStorage not working correctly"
Hi

I've a problem with TokenStorage. I'm using OAuth2Helper.AUTHORIZATION_CODE with scope parameters ['api', 'openid', 'profile']. After login i'm trying to do a get. But the token is null from TokenStorage and i'm prompt to login again. There seems to be a problem with the scopeKey not being correctly defined when writing and getting tokens from TokenStorage.

[2020-05-05 19:47] okrad commented on #8
Hi, what happens when you authenticate for the second time? Does the token get created?
Would you mind providing a code sample?

[2020-05-05 22:49] ResoDev commented on #8
Hello! Same here.
I'm using the GitHub API and this issue occurs because the scopes we provide to the `OAuthClient` are list of strings: `['repo', 'notifications']`. The scopes which are returned from GitHub are, however, not a list of strings but instead one long string `'repo;notifications'`.
It seems that at least for the GitHub API, the solution would be to split the response string at `;`.

[2020-05-06 07:36] jimad7 commented on #8
Trying to explain a bit more without a code sample.

I'm using scopes ['api', 'openid', 'profile'].

For me the getToken method sets scopeKey to 'api__openid__profile'.

The insertToken method, scopeKey is set to 'openid profile api'.

The tokens map is set to:
 {
openid profile api: {http_status_code: 200, access_token:..}
}

[2020-05-06 08:47] jimad7 commented on #8
I saw that I've had wrong order in my scope list.

The scopes that returned token contains is [openid profile api]. A different order than my configuration. But even if a change my configuration to exactly that order to:  ['openid', 'profile', 'api'] it still doesn't work.

On this line scopeKey is openid__profile__api.
if (tokens.containsKey(scopeKey))

But the tokens key is :
{openid profile api

[2020-05-06 19:37] okrad commented on #8
Hi @jimad7 and @ResoDev, thank you for taking the time of looking into the issue!
You are both right: the scopes that are sent from GitHub are a comma-separated list (instead of space-separated as by the rfc)... We need to handle this exception.
Furthermore the scope key generation method must take into account the order of the scopes.

I'm already working on these issues, fixes should be released

[2020-05-07 20:40] okrad commented on #8
Just published version 1.2.3... Does it solve your issues?

[2020-05-09 09:48] ResoDev commented on #8
It does for me. Thank you!

[2020-05-10 13:38] jimad7 commented on #8
Hi, it does for me too. Thank you!

[2020-05-10 15:51] jonathanjuursema opened #9 "Exception thrown when scope not present in AccessTokenResponse."
Hey!

We've just started with implementing OAuth2 into our app using this package, thanks for building it!

I've found an issue of which I'm unsure if our own OAuth2 IDP is out of spec, or if it's just a small bug. Hope you can advise me on this. We are using the latest version.

When authenticating against our own OAuth2 IDP, when we're redirected back to the app, we encountered the following exc

[2020-05-10 19:56] okrad commented on #8
Fine!

[2020-05-10 19:56] #8 closed

[2020-05-10 19:57] okrad commented on #4
Closing for now...

[2020-05-10 19:57] #4 closed

[2020-05-10 20:43] okrad commented on #9
Hi @jonathanjuursema, the specs state that the "scope" parameter in the server response is _"OPTIONAL, if identical to the scope requested by the client"_, so I guess your IDP is ok.

Up until now the scope parameter was indeed considered mandatory by the library, but the just released 1.2.4 version corrects this (mis)behaviour. Can you check it out?

[2020-05-10 20:53] jonathanjuursema commented on #9
Hey @okrad, thanks so much for the quick reply. I'll try to check it out tomorrow and post back!

[2020-05-12 14:26] jonathanjuursema commented on #9
Hey @okrad, this did the trick, many thanks!

[2020-05-12 14:26] #9 closed

[2020-05-12 18:38] jainilparikh opened #10 "Oauth2 Refresh tokens"
Hi ,
Once I have created my custom OAuth2Client class as shown
[code]
Can you tell me how do I Check if my token is expired or not?
I fetch the token using

[code]

My approach would be to check for 401 response from the API I am calling
Is there any predefined method that I can implement?

[2020-05-12 22:51] hite77 commented on #10
From the readme, there is an example where you retrieve the token, and then call a method on the token to check if it has expired...

//Import the client you need (see later for available clients)...
import 'myclient.dart'; //Not an actual client!
import 'package:oauth2_client/access_token.dart';

...

//Instantiate the client
client = MyClient(...);

//Request a token using the Authorization Code

[2020-05-13 21:38] okrad commented on #10
Hi @jainilparikh, you don't need to check for token expiration if you are using the helper class... That's exactly the helper's job: to detect expired tokens and in case fetch new ones and store them in the secure storage.

Anyway, if for your particular use case you need to check for token expiration, you can directly use the client class, as @hite77 suggested, instead of the helper.

Bear in min

[2020-05-15 11:30] sallypeters opened #11 "Using this with Facebook web flow login"
Hi there - thanks a bunch for this plugin. I have an issue with respect to my redirect URI and not getting passed back to my Flutter app. I'm guessing I've done something silly and wanted to ask for your guidance.

I'm trying to use this plugin to provide Facebook authentication with Firebase - and I was expecting the plugin to initiate the full login flow, return a token that I can use with Fireb

[2020-05-19 20:12] okrad commented on #11
Hi @sallypeters, I guess it would be more simple to use the Firebase SDK instead of implementing your own custom client. Actually I couldn't find any documentation referring to any Firebase OAuth endpoints (should you find something, I would gladly give it a look).

Furthermore I suspect you are implementing an _authentication_ flow (instead of an _authorization_ one), thus you will need proper JW

[2020-05-22 11:29] domesticmouse opened #12 "Supporting Flutter desktop?"
I'd like to add Flutter for desktop support to oauth2_client. I suspect this will mean turning `oauth2_client` into a [federated plugin](https://flutter.dev/docs/development/packages-and-plugins/developing-packages#federated-plugins) so we can add support for macOS.

Thoughts?

[2020-05-22 17:11] yannickscholz opened #13 "Add client_id to refreshToken Request"
Hey, can you add a client_id parameter to the refreshToken method or a parameter List that can extend the body? I get an error form our AuthProvider. Thanks.

[2020-05-23 10:10] eyeoftime commented on #13
I'd like to second this. I'm trying to integrate to an OAuth provider that requires the client_id to be sent along with the refresh_token in order to obtain a new access_token

[2020-05-24 10:27] Ferdzzzzzzzz commented on #2
@okrad I decided to play with Auth0 and oauth2_client this weekend and found it quite easy to integrate (I think implementing a dedicated client for auth0 might be redundant as each user would still have to add their Auth0 domain), just out of interest...is there a timeline for JWT and OpenID? I'm closing this ticket as I see no use for a dedicated Auth0 client 😄

[2020-05-24 10:27] #2 closed

[2020-05-24 12:54] okrad commented on #13
Hi, you are right, the specs state that the client_id and the client_secret should be sent alongside the refresh token request, if they were needed for the access token flow used in the first place.

I'm going to add them in the next release.

[2020-05-24 20:24] okrad commented on #12
Hi @domesticmouse, that would be great, as it would simplify porting the library to the web platform too (which is something I get requested often).

I must admit I didn't even know federated plugins existed, but I definetely like the idea of defining an interface and to be able to simply extend it to implement platform specific packages.

I need to understand how to best refactor the code... I th

[2020-05-25 00:27] domesticmouse commented on #12
At this point I don't have anything specific to add over and above [How To Write a Flutter Web Plugin: Part 2](https://medium.com/flutter/how-to-write-a-flutter-web-plugin-part-2-afdddb69ece6), but I'll spend a chunk of this week digging into your plugin and playing about. When you have a branch up hopefully I'll have some concrete PRs to submit. =)

[2020-05-25 07:47] domesticmouse commented on #12
Actually, digging into this further, it looks like your [`flutter_web_auth`](https://pub.dev/packages/flutter_web_auth) already handles macOS. I'd also suggest that handling Flutter for web should probably also be handled directly by `flutter_web_auth`.

During my investigations, I put together https://github.com/teranetsrl/oauth2_client/pull/14 primarily as a cleanup. Not required, but probably n

[2020-05-25 07:47] #12 closed

[2020-05-26 21:59] #13 closed

[2020-05-26 23:45] okrad commented on #12
Thank you for the PR!

As for desktop support, I wasn't aware that the latest flutter_web_auth update already handles macOS...

What about the other dependency, [flutter_secure_storage](https://pub.dev/packages/flutter_secure_storage) that is used by the helper class to securely store the access tokens? It doesn't seem to support flutter desktop at all...

[2020-05-27 00:43] domesticmouse commented on #12
Yeah, it really doesn't. For the short term I'm utilising [`oauth2`](https://pub.dev/packages/oauth2) as I got lost while trying to figure out how to get `flutter_secure_storage` to play nicely with desktop.

[2020-05-28 18:18] jainilparikh commented on #10
Hi Thanks @okrad and @hite77 your replies helped me implement the plugin in my project.

I have a doubt.

When I was   going through your oauth2_helper.dart i found tknResp.isValid() on line 91. Could you tell me exactly how you are checking the validity of the token? and how the isValid() function works?

[2020-05-31 10:54] AntiqPeace opened #15 "[Question] Need help with GitHubOAuth2Client"
Hi, this is more of a help question rather than an issue. I didn't know where to ask.Sorry for that...

I am completely new to this OAuth world. I tried to implement GitHub OAuth flow as described in Readme of this repo.

I also created an OAuth App at github.com/settings/developers. But, I am not sure what to put in 'Authorisation Callback URL'. Do I need to put a valid website URL? If yes, I tri

[2020-06-03 22:04] okrad commented on #10
Hi @jainilparikh , the `isValid ` method checks if the access token response has a valid HTTP status (200) and if it doesn't contain an "error" field.

[2020-06-03 22:07] okrad commented on #2
Hi @Ferdzzzzzzzz, OpenID implementation has already been started, hope to be able to release a basic working version in the next couple weeks.

[2020-06-03 22:56] okrad commented on #15
Hi @AntiqPeace,  in the first step of the "Authorization Code" grant, the client requests an "Authorization Token". After the user grants access to the resource, the server redirects the client to the "redirect uri" (i.e. the "callback url") sending the Authorization Token as a parameter.

The client must therefore be able to intercept the redirection... Normally, urls with the http(s) scheme are

[2020-06-04 17:49] jainilparikh commented on #10
Thanks @okrad.

[2020-06-04 17:49] #10 closed

[2020-06-04 22:43] iofjuupasli opened #16 "Google doesn't return refresh_token after first expire"
https://github.com/teranetsrl/oauth2_client/blob/c834a30bb16b8ca5fec52b68b9ecde4aa861b2df/lib/src/token_storage.dart#L37-L50

Steps:
1. With Google OAuth 2.0 Mobile
[code]
2. Try to get resource
3. Complete auth flow
4. `refresh_token` is returned from Google api, and `access_token` is correctly used
5. Token expired, e.g. `tknResp.expiresIn = 0`, `tknResp.expirationDate = DateTime(2020)`
6. Try t

[2020-06-05 21:11] #16 closed

[2020-06-05 21:21] okrad commented on #16
Thank you @iofjuupasli for the detailed ticket, now it should be solved. Can you confirm it?

[2020-06-06 05:39] kentcb opened #18 "Should I be able to use this with Azure AD B2C?"
Hi,

Thanks for this lib. It looks, in theory, like I should be able to use this with Azure. But I'm having trouble getting it to cooperate. Even though I can successfully authenticate, the redirect causes a `404` rather than the callback scheme being recognized and causing the resumption of the sign-in process.

Let me state up-front that one possible factor in this issue is that the Azure portal

[2020-06-06 06:29] kentcb commented on #18
Ooooooooooook. I think I've figured this out, but recording this in case anyone else runs into it.

So, the Azure AD has a new and "improved" experience for managing applications under AD B2C. And when I say "improved", I mean it just wasted me 4 hours of my Saturday. This is because it has nowhere to enter a callback URI for native/public authentication flows. I had to switch to the old, "legacy"

[2020-06-06 08:35] AntiqPeace commented on #15
@okrad thanks for your help. It worked...
You may close this issue now.

[2020-06-06 10:23] innocentalone opened #19 "Docs unclear for https redirects"
Sorry, but I could not find anywhere in the docs, how to handle `https` redirects.

Actually, my OAuth2 server requires the redirect URI to be an `https` one and here, the example only shows how to handle custom URI schemes. Like `myapp`, or `com.teranet.app`.

Which values should be put in `customUriScheme` and `redirectUri` for this use case??

[2020-06-07 06:31] myasinu opened #20 "Error on redirect"
I created a custom Oauth2 client just like you suggested in your article https://dev.to/okrad/oauth2client-implement-oauth2-clients-with-flutter-4jjl . Once the app redirects to authorization page and the user authorizes the client it redirects back to the app with an error. This is the error I am getting
[code]
This is the custom client
[code]
The success response form the API is '{redirect_uri}?

[2020-06-07 06:37] myasinu commented on #19
You don't have to use htttps, why don't you try  myapp://oauth2redirect .
myapp and oauth2redirect can be anything but you have to put :// in betweeen them
Make sure the first part before :// is the same as your android:scheem in your android manifest.

[2020-06-07 06:48] RaviKavaiya commented on #19
@myasinu I understand that we should use the custom one.
But as I told before, my OAuth app doesn't allow this.
It needs to be an HTTPS one only...

[2020-06-07 06:51] innocentalone commented on #19
Oh, someone just deleted a post... 🤔 May be he/she is having same problem.

@myasinu My OAuth only allows https redirects.

[2020-06-07 20:48] okrad commented on #20
Hi @myasinu, just to clarify... Is the response you reported an actual response (i.e. you printed it out and are just hiding the param values), or is it just what your API documentation says it should look like?

An error like that could be thrown when the response doesn't contain the expected parameters, but if that's the real response, they seem correct...

One more thing: is the authorization s

[2020-06-07 20:49] okrad commented on #20
Sorry, I closed the issue by mistake...

[2020-06-07 21:15] okrad commented on #18
Hi @kentcb, so you managed to make it work with a custom scheme? From the [Azure tutorial](https://docs.microsoft.com/en-us/azure/active-directory-b2c/signin-appauth-android?tabs=app-reg-ga#tabpanel_CeZOj-G++Q_app-reg-ga) it looks like it should work...

Thank you for reporting the typo in the README, I will fix it asap.

As for the disconnection flow, currently the library does not support OpenID

[2020-06-07 21:16] #15 closed

[2020-06-07 21:27] okrad commented on #19
@innocentalone, normally HTTP(S) urls are handled directly by the system browser, so to be able to intercept the redirect and "bypass" the browser you must use a "custom" url scheme...

[2020-06-07 23:09] kentcb commented on #18
@okrad Thanks for getting back to me. Yes, I did get it working once I figured out Azure's UX. I will close this issue.

As for sign out, that is a real missing piece for me, so very glad to hear it's in the works.

[2020-06-07 23:09] #18 closed

[2020-06-08 00:37] myasinu commented on #20
Hey Okrad thanks for the response. I am not sure if thats the response from the api.
This is the api I am using
https://docs.vendhq.com/reference/introduction/authorization

[2020-06-08 11:36] fringefilmsoz opened #21 "Web view opens for every call"
Every call I make with a get is showing the Chrome window briefly while the request is processing.

Is this normal behaviour? If a token is passed, should it still launch the Chrome window?

I'm launching my custom client with the following function:
[code]
And making calls with:
[code]

[2020-06-08 21:21] okrad commented on #21
Hi @fringefilmsoz, you are absolutely right, I didn't notice it...
It's a regression that's been introduced in the last release, now it should be fixed.
Can you confirm it?

[2020-06-09 06:18] fringefilmsoz commented on #21
It hasn't resolved my issue.
I tried using older versions and all had the same behaviour. So, I'm at a bit of a loss.

[2020-06-09 19:26] okrad commented on #21
Ok... Looking back at your code I suspect the problem could be in how you pass the scopes to the helper...

Can you try with:
[code]

Instead of:
[code]

Btw, is _&aud=${Settings().baseUrl}_ really a scope?

[2020-06-10 00:16] fringefilmsoz commented on #21
Thanks so much for your help.

Updated as per below with the same behaviour.

It seems like a hack to use the scopes to append an additional parameter in my last scope. I wonder if that's breaking it?

Should there be an ability to pass additional parameters after scopes?

Cerner requires it to prevent man in the middle interception.

[code]

[2020-06-11 03:23] myasinu commented on #20
The issue is still open. I wasn't able to get work. Can you please have a look at the api link.

[2020-06-11 20:11] okrad commented on #20
Sorry, didn't have much time in the past days...

Looks like those APIs are quite "peculiar" because the access token request url depends on the "domain_prefix" parameter returned by the authorization code response. The access token url must therefore be composed dynamically at runtime, and this complicates things...

I'm trying to figure out what's the best way to handle use cases like these... I

[2020-06-11 20:50] okrad commented on #21
Yes, the "aud" parameter doesn't have to be passed as a scope, but as a queryString param.
So, one thing we need to do is find a way to pass custom parameters to the authorization request. This shouldn't be particularly difficult and shouldn't take too long...

Anyway this won't completely solve your problem... Can you elaborate a little more on how it occours?
Did you pass through the authorizati

[2020-06-12 03:42] myasinu commented on #20
Thanks for taking time to respond I really appreciate it.
A quick fix for the token url can be done by asking the user to enter their domain prefix before redirecting to the authorization page. But i am not sure how the authorization response from the API will effect the outh2 client because of the domain prefix in the response. Once again taking you for your help.

[2020-06-13 06:30] RaulMarquezInclan opened #22 "Implement getting id_token and id_token_hint"
Hi,

Is Implementing also getting the id_token and id_token_hint planned for next releases?

while debugging I did see the id_token but it was the same as the access_token, what I understand is that it's not supposed to be the same.

Thanks.

[2020-06-14 09:12] okrad commented on #20
I think the domain prefix won't have any effect...
If you can compose the access token url beforehand, you should then pass it to the helper while instantiating...

Another thing: which scopes are you using? oauth2_client currently requires the scopes to be set, but it seems the API don't support the "scope" parameter... I could relax this requirement as even the OAuth2 specs state they are option

[2020-06-14 12:12] okrad commented on #22
Hi @RaulMarquezInclan,
yes OpenID Connect is currently in the works...

[2020-06-14 13:04] fringefilmsoz commented on #21
Yes, first time I'm asked to log in. Log in is successful.
Each call using the helper then causes the webview to open and then close.
E.g. I make three successive calls for data the webview opens and then closes three times. Each time data is returned as expected.

How do I check if an access token is returned? And maybe if it's stored?
Thanks Duncan

[2020-06-14 18:29] myasinu commented on #20
I am leaving the scope parameter as an empty list. I am not sure if thats the right way since the scopes are required by the client class and the api doesn't use them

[2020-06-14 19:52] okrad commented on #20
From the API docs it seems no custom headers are needed, so you could get rid of the Accept header. That header is needed for Github because if not specified the authorization server returns the access token response in a "querystring" format, and not in json as expected by the library.

Did you try providing a beforehand crafted token url to the helper? Does it make any difference?

In the next r

[2020-06-16 08:38] myasinu commented on #20
I removed the access token headers and tried it I am not getting any errors this time around but I still get a null response.

[code]

and this is the reponse I get in the debug console
[code]

[2020-06-17 20:42] okrad commented on #20
Hi, I just published the new release (1.4.0) with some updates that could simplify your use case, i.e.:
* the scopes are now optional
* you can create the Access Token url at runtime.

Now you can do sometihng like:

[code]

...But to better understand what's happening we need to perform all the steps manually. Can you try with the following:

[code]
...and report back what gets printed?

[2020-06-17 20:45] myasinu commented on #20
Absolutely. Thanks for the update i will try your suggestions and report back

[2020-06-17 20:57] okrad commented on #21
I just published the new release (1.4.0) that lets you pass custom parameters both to the authorization request and to the access token request.
For example:

[code]
So, let's try a couple of things and see if we can understand what's happening...

First, you can check if a token is currently stored with:

[code]

Then we can try to force the retrieval of a new token, skipping the helper altogethe

[2020-06-18 10:45] fringefilmsoz commented on #21
Thank you, appreciate the very quick update.

Updated code returns the following error:

[code]

[2020-06-18 12:33] myasinu commented on #20
It seems like I am getting the same error here.
[code]
The try statemenet starts but as soon it executes this line
[code]
it throws an error PlatformException.

[2020-06-19 03:52] jainilparikh opened #23 "HTTP Error 500.35-ANCM"
Hi ,
So I am using your plugin for a flutter application.
This is my version   oauth2_client: ^1.2.2

I call my API's by building a custom oauth2Class similar to this code here:
`
class MyOAuth2Client extends OAuth2Client {
  MyOAuth2Client({@required String redirectUri, @required String customUriScheme}): super(
    authorizeUrl: 'https://...', //Your service's authorization url
    tokenUrl: 'ht

[2020-06-19 12:34] TheFedex87 commented on #7
Hi, I'm trying to use the disconnect method of helper, and also revokeToken method, but they seems doesn't work. Token is deleted locally, but if I try to use that token it is still valid

[2020-06-19 20:52] okrad commented on #20
Ok then... Are you sure the redirect uri is consistent between your client configuration, your manifest file (if you are developing for android) and the Vend app registration panel?

Another thing you could try is opening the authorization url with curl or directly in a web browser and see how the server is responding...

To obtain the authorization url you can do something like:

[code]

[2020-06-19 21:27] okrad commented on #21
Ah yes, I see... There was a minor issue in the latest updates...

I just pushed a fix, can you try with the new version?

[2020-06-20 05:37] fringefilmsoz commented on #21
Thanks, Can confirm v1.4.1 resolves the above error.

Following error occurs on the tknResp:

[2020-06-20 06:17] kentcb opened #24 "Custom claims"
Hi,

Is this library intended to allow access to custom claims? From what I can tell, any custom claims are discarded because `AccessTokenResponse` just ignores anything it doesn't understand.

[2020-06-20 14:58] okrad commented on #21
This means no token has been memorized in the store... That's why you see the browser window opening up at every request.
I guess the browser sends a session cookie that had been created during the last login, and so the authorization server just redirects you to the redirect_uri without asking for a new login process.

What's the output of the last snippet of code, i.e.:

[code]

[2020-06-21 11:53] fringefilmsoz commented on #21
Here's the output i receive, which appears to include a valid token.

[code]

[2020-06-21 12:43] fringefilmsoz commented on #21
All is working as expected now. I think i had an issue with an incorrect scope.
Thanks for your help.

[2020-06-21 12:43] #21 closed

[2020-06-21 12:43] fringefilmsoz commented on #21
All working

[2020-06-21 14:38] myasinu commented on #20
Yes I am using the same URI in the manifest as the client configuration.
I think the redirect URI is the issue. The api only allows redirect URI that has double slashes. For exmaple myapp://redirect. I changed the rediredt URI to https://myapp/redirect the api gives a response with authorization code in the url but android doesn't redirect back to the app. If I use this myapp://redirect instead th

[2020-06-21 21:19] okrad commented on #7
Hi @TheFedex87, you are right, I obviously misunderstood the specs when I first read the revocation flow...
If you don't mind creating a pull request I will surely consider merging it.

[2020-06-21 21:43] okrad commented on #21
Hi @fringefilmsoz, I'm glad you solved your issue.

It looks like you were requesting 3 scopes but the server granted only 2 of them...
Since tokens gets stored using the granted scopes as the key, every time you were performing a request the library couldn't find a  token in the storage for the 3 scopes, so it was trying to fetch a new token.

[2020-06-21 21:47] okrad commented on #24
Hi @kentcb, currently the library doesn't support claims of any kind, since it still doesn't implement the OpenID Connect extension.
Its implementation is however in the works, and with it I'm planning to support standard and custom claims.

[2020-06-21 21:56] okrad commented on #23
Hi @jainilparikh, I can't think of anything that could cause such an issue.
As you said, it seems a server side error... I suppose you already searched the internet for a potential solution... Anyway, if it can be of any help I [found this](https://stackoverflow.com/questions/58246822/http-error-500-35-ancm-multiple-in-process-applications-in-same-process-asp-ne).

Another thing you could try is u

[2020-06-21 23:58] fringefilmsoz commented on #21
Thanks so much again.

[2020-06-22 11:04] TheFedex87 commented on #7
@okrad pull request done! ;)

[2020-06-22 14:46] myasinu commented on #20
Update: The previous response was when I used chrome browser to go the authentication link. If I use the webview option then after authenticating the screen goes white and this is what is printed in the debug console
[code]

![image](https://user-images.githubusercontent.com/16558941/85301223-01cb2600-b4c1-11ea-992d-73f88e20625f.png)

[2020-06-22 17:14] jainilparikh commented on #23
thanks @okrad for clearing my doubt regarding the usage of the plugin . I assume its a server side error itself.

[2020-06-22 17:14] #23 closed

[2020-06-27 17:08] okrad commented on #7
Thank you, I just merged it...
I made some small modifications converting the clientid parameter as an optional one, and adding an optional client secret.

[2020-07-01 10:03] DanielEberl opened #26 "Close Custom Tabs on Android on Result"
On Android, the Chrome / Browser Window stays open after the successfull redirect back to the app.

In some cases, when logging in again, the same instance gets opened, resulting in an unusable screen.

Is there an alternative to using custom tabs? Like webview i.e.?

[2020-07-09 11:08] hvkalayil opened #27 "Token is not getting saved in storage."
### **My code Implementation as per the given documentation**
I tried to use the package to get data from Spotify API. I made a new client as shown below
[code]
I used this code to get data using the helper
[code]
### **The Problem**
This code works perfectly, **except** **_this wont store tokens_** Everytime this code is run, it redirects me to get an accesstoken again. So I tried the code below.

[2020-07-09 21:58] #27 closed

[2020-07-09 22:06] okrad commented on #27
Hi @hvkalayil, thank you for the detailed report. There was a problem when empty scopes (or no scopes at all) were used.
It should be fixed now, can you check the latest release (1.4.3)?

[2020-07-09 22:20] okrad commented on #26
Hi @DanielEberl, the OAuth rfc advises against using webviews, mainly for security reasons (such as avoiding the app to modify or inspect the browser window).

I can't reproduce your issue... Can you provide more info, such as:
* Android/Chrome version
* the service you are trying to authorize to
* a code snippet

[2020-07-10 10:15] hvkalayil commented on #27
Thanks. Its working now. This package is extremely useful. Thanks for your work

[2020-07-11 18:20] apoleo88 commented on #19
I have the same doubt, to authenticate with google I create a new Google ID and I select `Web applications`.
It then wants to know the redirect URI, but if I enter `myapp://oauth2redirect` it gives me an error and doesn't make me save it, it says the scheme needs to be http or https.

If I don't add this authorized URI the authentication returns
`Invalid parameter value for redirect_uri: Invalid s

[2020-07-13 17:57] tsa87 opened #28 "AccessToken does not exist"
In the **Usage without the helper class** section `import 'package:oauth2_client/access_token.dart';` doesn't exist.

[2020-07-16 08:23] okrad commented on #28
Hi @tsa87,
you are right, the correct import is: ```import 'package:oauth2_client/access_token_response.dart';```.

I just updated the README, thank you for reporting...

[2020-07-16 08:34] okrad commented on #19
Hi @apoleo88, you just need one key...

Make sure to select "iOS" as the Application Type and to set the _Bundle ID_ field with your custom uri scheme (for example "my.test.app").

[2020-07-16 08:34] #28 closed

[2020-08-02 21:56] NiyazFazlyev commented on #19
Hi @apoleo88, did you manage to solve your problem? could you share your experience?

[2020-08-06 21:16] Mr-Pine commented on #20
I'm getting the same error when trying to log in with [Discord's API](https://discord.com/developers/docs/topics/oauth2)

<details>
    <summary>My code</summary>

[code]
</details>

<details>
<summary>Error message</summary>

[code]
</details>

[2020-08-10 20:17] okrad commented on #20
Hi @Mr-Pine,
each scope should be passed as a separate item in the _scopes_ parameter.

Instead of
[code]
you should use:
[code]
Let me know if it solves your problem!

[2020-08-10 22:46] Mr-Pine commented on #20
Hi, I had tried that originally but unfortunately it didn't work either.

[2020-08-13 21:52] okrad commented on #20
That's strange... Using a similar Discord client I can generate the Token without any problems...

Can you try my [test application](https://github.com/okrad/oauth2_client_test) and see if you get any issues?

[2020-08-15 00:54] mucasantos commented on #20
Hi. I am using the Oauth2 to studying API connection and I can successfully connect to Google ClassRoom and get student names, courses, etc. Everything is working amazingly! I've followed all steps and it really works fine. However, all my tests were using iOS (my iphone 6 and emulator). When I've tried to use an Android (device or emulator) the callback to my app doesn't happen - I don't know if

[2020-08-15 09:04] apoleo88 commented on #19
I didn't, I created an "Android" application on google to add the URI, and it works fine on android, but I am not using anymore this library.

[2020-08-15 09:31] innocentalone commented on #19
@apoleo88 Can you please tell me which library you are using?

[2020-08-18 08:39] htinlinnzaw commented on #26
Hi, I am facing same issue. After Authorization success, the Chrome browser does not close automatically.

[2020-08-18 08:41] htinlinnzaw commented on #26
My Chrome Version: com.android.chrome 84.0.4147.125

[2020-08-19 07:26] okrad commented on #26
Hi @htinlinnzaw,
I think the problem is caused by the issue mentioned above in flutter_web_auth, the library oauth2_client relies upon to handle the browser instance. Hope it will get fixed soon!

[2020-08-19 12:15] ThexXTURBOXx commented on #26
I will just copy-paste my answer here, as users may find the answer faster like this:

I don't know, if the developer of flutter_web_auth is still actively developing his project. For the time being, you can just use my patch using a override, like this (add it to your pubspec.yaml):
[code]
Please be aware, that compile issues complaining about ``duplicate files`` may arise. I don't know exactly,

[2020-08-19 14:09] gocarnetdev opened #31 "AAD authentication returns integer values in quotes - these could be handled better"
I get string/int type conversion exceptions in access_token_response.dart starting at line 39 because the map contains "expires_in"->"3599" in quotes, same for ext_expires_in, expires_on, and not_before.  This comes from using https://login.microsoftonline.com/ as the authorize URL.

[2020-08-20 04:18] htinlinnzaw commented on #26
Thank for your support Dear.

[2020-08-20 05:03] htinlinnzaw opened #32 "After successful Login, App gets nothing."
W/ActivityThread(16136): handleWindowVisibility: no activity for token android.os.BinderProxy@3d68cc0
The above is the only I can see in the run console. How to fix this.

[2020-08-20 07:46] #32 closed

[2020-08-20 07:51] htinlinnzaw commented on #26
Thank you Dear. It **works** for me.

[2020-08-20 20:21] okrad commented on #26
Thank you @ThexXTURBOXx, and thank you @htinlinnzaw for trying out the patch! Did you have the chance to try it out with iOS too?

I forked the flutter_web_auth plugin and applied the patch.
I'm going to test it out and if everything goes well I'll probably override the import (for the time being, at least until the patch gets integrated in the main repo).

[2020-08-20 20:28] ThexXTURBOXx commented on #26
No problem!
My patch only adds the additional, optional parameter, which should not break anything on iOS's side. If the parameter isn't specified, Android just ignores it. I will take a look at the iOS-sided code again and will make sure, I don't break anything.
I can't confirm it 100% though, because I don't have an iOS device and I am not part of the developer program.

[2020-08-20 20:48] ThexXTURBOXx commented on #26
Okay, so I don't see, why it should break anything on iOS. I don't know Swift so well, but as I can see, there is a ``Plugin``, which ``handle``s the call to the method ``authenticate`` (much like on Android).
The argument ``FlutterMethodCall call`` then contains the arguments given by ``flutter_web_auth`` as a ``Dictionary<String, AnyObject>``.
Since my patch only affects Android, the Dictionary

[2020-08-23 19:51] okrad commented on #31
Hi @gocarnetdev, you are right, we should cast the "expires_in" value to an int...
As for the other parameters ("ext_expires_in", "expires_on", "not_before"), these are not standard and are not considered at all...

[2020-08-23 20:22] okrad commented on #26
I agree with you, it shouldn't break anything on iOS...
I made some more tests without any issues, so I'm going to publish the new version with the overridden plugin...
Thank you again!

[2020-08-23 20:52] okrad commented on #26
Problem is, I can't release the new version on pub.dev, since git dependencies are not allowed in published packages...
I think I'll wait a few more days to see if your pull request gets merged in the main repo...
In the meantime I'll try to contact the author and see if he is still willing to maintain the plugin.

[2020-08-23 21:19] ThexXTURBOXx commented on #26
Oh, ah yeah, that makes sense... Keep us up-to-date :)

[2020-08-24 09:03] htinlinnzaw commented on #26
I also hoping the new version fixing that issue. Very nice guys and thank for you support.

[2020-08-26 13:53] ivanlamont opened #34 "is there an example of this working with AAD"
I can get Azure Active Directory to accept my request and send me a token, but it always responds with the default audience, the Graph API (aud: 00000002-0000-0000-c000-000000000000).  I am unable to get it to give me a token for other resources, APIs I expose on other apps.  Is this currently possible?  If so, any chance of an example?

Thanks

Ivan

[2020-08-28 15:57] okrad commented on #34
Hi @ivanlamont ,
sorry I'm not an expert at all on AAD...
I don't think I fully understand your problem, but if you need to authorize access to more resources you can pass all of the required scopes to the client (or the helper) as a List.

I took a look to the AAD documentation, it seems the authorization and token urls need to include a "tenant", that from what I understand is a sort of "directo

[2020-08-30 03:51] ivanlamont commented on #34
Success!  I did get it to return access to the required audience, with some minor modifications to your suggestion.  I should have mentioned - I am using the client credentials flow.  So, the redirect and customUriSchemes are not needed, indeed they need to be blank.  And we need to force the Client Credentials grant type.  Here's my final code:

`
  Future<void> requestToken() async {

    var cl

[2020-08-30 03:51] #34 closed

[2020-09-02 11:19] pposca opened #35 "Add a flag to disable PKCE when using OAuth2Helper"
I am consuming an API that does not support PKCE and returns a 400 status code when trying to get the token using OAuth2Helper.

I see there is a param called enablePKCE to use when calling directly OAuth2Client.getTokenWithAuthCodeFlow, but I cannot find any way to disable PKCE when using OAuth2Helper.

Am I missing anything?

[2020-09-03 22:33] okrad commented on #35
Hi @pposca, I just released a new version...
Now you can disable PKCE by passing `enablePKCE: false` to the helper constructor. Can you try it out?

[2020-09-04 15:47] dinabandhuM opened #37 "Not able to redirect to app after successful auth verification"
I have added the following intent in my App.Manifest file
            `<activity
                    android:name="com.linusu.flutter_web_auth.CallbackActivity">
                    <intent-filter android:label="flutter_web_auth">
                        <action android:name="android.intent.action.VIEW"/>
                        <category android:name="android.intent.category.DEFAULT"/>

[2020-09-05 09:00] okrad commented on #37
Hi @dinabandhuM,
you should use a custom scheme for the redirect uri, for example:

[code]
And then, in your code:

[code]

I just updated the README, hope I made this point clearer!

[2020-09-05 10:01] pposca commented on #35
Thanks, @okrad. It works perfectly.

[2020-09-05 10:01] #35 closed

[2020-09-07 23:57] SnailVanquisher opened #38 "Optional state parameter"
I understand that the state parameter is recommended and is good for security, but I have come across certain APIs that don't expect the state parameter, so they don't return it on the redirect, causing the auth flow to break. Would you be open to having it be optional, similar to enablePKCE? I'd be happy to make the changes and open a pull request, as I'm already using a local modified copy with

[2020-09-09 10:27] casetofon opened #39 "Does not redirect"
Using the code provided in the example with the Google App, it does open the browser and exchange the code, but instead of returning to the app once the permission is provided, it just shows the token in the browser and asks that you copy/paste it back into your app.
[screenshot](https://i.ibb.co/MRsW6Nc/backto.jpg)

[2020-09-10 19:47] okrad commented on #39
Hi @casetofon, what redirect uri did you specify in the application registration form? You should use a custom uri with a scheme that's *not* http(s), for example my.test.app://oauth2redirect.

[2020-09-10 19:58] okrad commented on #38
Hi @SnailVanquisher, I guess it would indeed be useful in some occasions, I'd gladly merge your PR!

The parameter should be available both in the OAuth2Client and in the OAuth2Helper class, just as the enablePKCE param.

Thank you!

[2020-09-10 20:13] okrad commented on #11
Hi @sallypeters, probably at this time you already solved your issue (maybe using another package...), but just in case you are still stuck with it, I think I found out what the problem could be:  you shouldn't use http(s) scheme for the redirect uri, but a custom one, for example _my.test.app://oauthredirect_.

Sorry for the late reply!

[2020-09-10 20:14] #19 closed

[2020-09-10 20:17] okrad commented on #31
Hi @gocarnetdev, can I consider the issue closed?

[2020-09-11 02:47] dinabandhuM commented on #37
I understand that. Thanks for updating the README though. But, I am afraid it does not solve my issue. The reason is the custom URI scheme. Like you're setting the custom URI scheme to listen to the Auth code, but many of the Authorization provider (like mine) doesn't allow any other URI scheme except "http" and "https".  In that case, your solution fails to fetch the authCode and request for auth

[2020-09-12 14:38] okrad commented on #37
Hi @dinabandhuM,
to use HTTPS urls you need to define your redirect uri as an App Link. I just updated the README to explain how it can be done.

[2020-09-12 14:42] okrad commented on #39
If you really want/need to use an https redirect uri, I just updated the README to explain how to do it (by means of Android App Links).

[2020-09-13 17:16] joeymukherjee opened #42 "AuthorizeURL needs special parameter on clientId, but no other request"
I'm trying to use this with TD Ameritrade and its authorization URL requires a special parameter.  For subsequent calls, I want to leave it off.  How would I do this?  Here's the API I'm using:  https://developer.tdameritrade.com/content/authentication-faq

[2020-09-15 21:10] #38 closed

[2020-09-16 19:40] foux opened #43 "[BUG] With some OAuth providers, the OAuth call will be made on each requests"
Hi there!

With my OAuth2 provider, I retrieve the following token :
[code]

This doesn't work with oauth2_client, as in `token_storage.dart` , line 23, we're checking if the token response contains `scope` at its top, and retrieve the token from the inside of this scope.

This result in authentication working, but the token not being store in secure storage, so the call to the OAuth client is mad

[2020-09-17 12:06] #43 closed

[2020-09-18 12:06] casetofon commented on #39
Thanks okrad, I figured it out: the issue was a missing / (slash) on the string value of the redirect uri.

[2020-09-18 12:06] #39 closed

[2020-09-18 20:11] okrad commented on #42
Hi @joeymukherjee, custom parameters for the authorization url can be specified through the _authCodeParams_ parameter.

You can pass it to the client's _getTokenWithAuthCodeFlow_ method like this:
[code]

Or, if you're using the helper, you can set it this way:
[code]

[2020-09-19 23:56] joeymukherjee commented on #42
This doesn't work for me.  I need clientId to be something different just on the initial AUTHORIZATION_CODE.  I put clientId in my authCodeParams with the additional parameter and have clientId as normal above it.  This does not work.  If I put clientId as clientId + token, as a parameter of OAuth2Helper, it works fine, but subsequent calls do not work since I don't need it for the remaining URLs.

[2020-09-22 20:12] okrad commented on #42
The _authCodeParams_ map can be used to override "standard" params in the Authorization Token request, as I think you are trying to do.
There's however a problem in your code, since the "clientId" param should be called "client_id" (that's the name of the parameter that gets serialized in the authorization url):
[code]
The Authorization Token request is just half of the process. Once the authoriza

[2020-10-01 23:45] ujnamss opened #44 "Token not getting stored"
Hi @okrad,

Thanks for the wonderful library. It has significantly simplified my implementation of Microsoft authentication integration.

I have a similar problem to the one mentioned at https://github.com/teranetsrl/oauth2_client/issues/27.

`    this._oauth2Client = OAuth2Client(
        authorizeUrl:
            "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
        tokenUrl:

[2020-10-01 23:53] ujnamss commented on #44
I tried using setAuthorizationParams as well:
`    this._oauth2Helper = OAuth2Helper(this._oauth2Client);
    this._oauth2Helper.setAuthorizationParams(
      grantType: OAuth2Helper.AUTHORIZATION_CODE,
      clientId: '<client_id>',
      scopes: [
        'https://graph.microsoft.com/Calendars.Read',
        'https://graph.microsoft.com/Calendars.Read.Shared',
        'https://graph.microsoft.co

[2020-10-02 01:48] ujnamss commented on #44
Tried with both:`oauth2_client: ^1.5.1` and `oauth2_client: ^1.5.0` - no luck

[2020-10-04 13:15] okrad commented on #44
Hi @ujnamss, this can happen when you request some scopes but then the server returns an authorization only for a subset of them, for example if one of more scopes are incorrect or misspelled....

What's the output of the following code?

[code]

[2020-10-04 17:53] ujnamss commented on #44
hi @okrad,

Thanks for the note. I ran the sample and seems like everything is good.
`
flutter: 200
flutter: null
flutter: 2020-10-04 11:49:58.047702
flutter: [email, profile, openid, https://graph.microsoft.com/Calendars.Read, https://graph.microsoft.com/Calendars.Read.Shared, https://graph.microsoft.com/Mail.ReadBasic, https://graph.microsoft.com/User.Read]
`

[2020-10-05 04:43] okrad commented on #44
Ok, so the server, for whatever reason, is returning different scopes than you requested...

Can you try using those scopes in your request?

[code]

[2020-10-05 05:06] ujnamss commented on #44
oh! sure. I have actually resorted to not using the auth2 helper. I wrote a small piece of code to refreshToken etc myself using the client alone.

I will give this a try in a bit. Hope that is ok.

[2020-10-05 15:19] TonySpegel opened #46 "tokenType is null and token is not saved to storage"
Hi there,

great library! I'm running into a few issues while using it to communicate with Slack's API.
While working with the helper class I've noticed that the tokenType is not set to bearer and instead is set to `null`.

Steps which might be useful to reproduce:

1. Own a Slack workspace
2. Create your own Slack app
3. Set its scope to users.profile:write
4. Add a redirect URL and configure it

[2020-10-05 20:57] okrad commented on #46
Hi @TonySpegel, I suspect the issue is related to the token not getting stored, and this usually means that the scopes are not correct or somehow different from the ones granted on the server.

Can you take a look at the (just added) [FAQ](https://github.com/teranetsrl/oauth2_client#faq) section of the README and try out the suggested approach?

[2020-10-06 08:09] TonySpegel commented on #46
@okrad Thanks for your help. Okay I did miss a scope (`identify`) and adding that seemed to work, I was able to make two requestions without Slack asking me twice for my authentication. But I think this was just working because I've set`tknResp.tokenType` to `bearer` by myself in  `oauth2_helper.dart` and Flutter didn't got the change after I changed it back. Okay so my code pretty much stays the

[2020-10-07 03:13] ujnamss commented on #44
hi @okrad - scope names were the issue indeed. After changing the scopes, the issue is resolved.

[2020-10-07 03:13] #44 closed

[2020-10-08 20:35] okrad commented on #46
Not sure I understand... Aren't you able to make any request at all or is it still asking you for authorization at every request?

Moreover, the Bearer token type in the helper should [already be set](https://github.com/teranetsrl/oauth2_client/blob/bf8e68678b1e0ce58c6b34e22c438f25754b12a8/lib/oauth2_helper.dart#L202)...

[2020-10-12 07:34] TonySpegel commented on #46
Running my code as it is `tknResp.tokenType` is null and the whole request therefore fails
![image](https://user-images.githubusercontent.com/1145514/95716987-8f977080-0c6c-11eb-979c-d47be438a704.png)
That's the error log for that:
[code]

When setting this myself (in oauth2_helper.dart) it just works, so like this:
`tknResp.tokenType = 'Bearer';`

I'm out of ideas, I think there isn't much for me

[2020-10-13 20:47] okrad commented on #46
Hey @TonySpegel, I think I got it...
It seems that the access token response returned by the Slack authorization server doesn't contain the "token_type" parameter, that is mandatory by the OAuth2 specs.

To overcome these situations, I added a fallback check that sets the token_type to "Bearer" if it is not set.

Can you try it out and see if it works?

[2020-10-14 11:21] TonySpegel commented on #46
Is that already included in the latest version? I've upgraded to 1.6.0.
The bearer token seems to be fixed but it still for my permission for every request I make.
[code]

[2020-10-15 13:17] okrad commented on #46
Seems strange... In my tests the helper uses the same token without forcing me to authenticate with Slack twice.

Are you still passing on both the scopes (```identify``` and ```users.profile:write```)?

[2020-10-15 14:34] TonySpegel commented on #46
I do. That's the complete code:
[code]

This is the behaviour in a virtual device and on my physical Pixel 3, I can't test

[2020-10-15 22:09] okrad commented on #46
I tried your code, only the first request is asking for permission...

What happens if you run it on a newly created virtual device?

[2020-10-16 08:03] TonySpegel commented on #46
I've deleted all of my virtual devices and created a new one and also recorded the process (resolution isn't that good but it's visible what happens. the loop begins/ends when it switches back to the tab next to the AVD)
![recordedVideoScaled](https://user-images.githubusercontent.com/1145514/96228974-9a1c7780-0f96-11eb-9067-368aa4fe306b.gif)

[2020-10-16 08:04] TonySpegel commented on #46
I've deleted all of my virtual devices and created a new one and also recorded the process (resolution isn't that good but it's visible what happens. the loop begins/ends when it switches back to the tab next to the AVD)
![recordedVideoScaled](https://user-images.githubusercontent.com/1145514/96228974-9a1c7780-0f96-11eb-9067-368aa4fe306b.gif)

[2020-10-18 19:31] okrad commented on #46
What gets printed if you run this code after the first call to setSlackStatus:
[code]

[2020-10-19 14:10] TonySpegel commented on #46
[code]
These scopes are new, aren't they? I think it's working now.. I'll test it a few times and report back if it does.

[2020-10-19 23:17] TonySpegel commented on #46
Okay there seems to be one last issue. I think the first run of the app needs to ask for only two scopes:
[code]
These are the scopes we identified first. After your last comment, I've figured out that it needs some more scopes.
Which are these:
[code]
When I don't add these, I've have to grant the rights for every request again. But when I add all of these scopes in the first run I'll get this er

[2020-10-20 19:53] okrad commented on #46
Ok, this starts to make sense...

When you make a call through the helper, the first thing it does is to check if a valid token already exists in the storage for the service you are connecting to. If such a token is found, the second thing it does is to compare the scopes you are requesting with those that the token was granted for. If the scopes match, the stored token gets reused, otherwise a ne

[2020-10-21 12:41] TonySpegel commented on #46
Sounds like a viable solution. It's pretty weird that it needs different scopes for the both of us. Another thing I've figured out is that the order of scopes has to be in the same order as the server telss you - do you think it would makes sense to order them by name to compare them this way? So that
[code]
would be a valid set of scopes?
Thanks for your work I really appreciate it =)

[2020-10-23 17:46] j555 opened #47 "Unhandled Exception: Exception: "state" parameter in response doesn't correspond to the expected value"
I am using the OAuth2Helper class which I believe has been working until recently.  However when I recently deleted the app from a device and reinstalled, I am receiving the error:

Unhandled Exception: Exception: "state" parameter in response doesn't correspond to the expected value

The error seems to be coming from authorization_response.  I did some debugging and found that the state variable

[2020-10-26 20:51] okrad commented on #47
Hi @j555, the "state" variable in the authorization_response corresponds to the state parameter set by the server in the redirect uri, and should match the one sent by the client.
Unless you explicitly pass it to the `requestAuthorization` through the `state` parameter or disable it setting the `enableState` param to false, it is automatically generated (to mitigate CSFR attacks) and sent for each

[2020-10-29 00:08] okrad commented on #46
Hi, can you try out the new version? As for the scopes order, it doesn't matter since the subset verification is made using set intersection that doesn't depend on the order of the elements...

[2020-11-02 09:15] TonySpegel commented on #46
I don't have any issues anymore :). I'm already using it and it works fine so far.
Very well done

[2020-11-02 20:37] okrad commented on #46
Fine, thank you!

[2020-11-02 20:37] #46 closed

[2020-11-18 03:49] SogoGolf opened #48 "Android is returning a token even when tokenStorage is not being used"
on iOS there is no issue. However on Android - after I authenticate successfully via the web popup -> the next time I restart the app and call:

```var oauth2Helper = OAuth2Helper(client, grantType: 4)```

the OAuth2Helper returns the token used in that first call above and refuses to display the web popup (via ```FlutterWebAuth```). This should NOT be happening as I understand it. Rather it shoul

[2020-11-23 20:16] okrad commented on #48
Hi @SogoGolf, how do you avoid using the tokenStorage? The OAuth2Helper job is exactly to try to reuse previously obtained tokens without activating the authorization flow, so the behaviour you are reporting seems just as expected... If no tokenStorage is passed, a default one is instantiated and used by the helper class itself.

Another thing I don't understand is the value you are using for the

[2020-11-24 16:11] essl-balshawl opened #49 "Cannot sign out from session"
I'm calling the /logout endpoint on my Keycloak Auth server but the session isn't logging out. Is there a way to force end the session when using Authorization Code flow?

When I use the Auth Code flow it will open the browser to login with user name and password. Once i have done that i call /logout. I get 200 back. I also delete the token. When i login again using the/auth url it doesn't prompt

[2020-11-25 16:11] scadot opened #50 "Google Oauth2 - PlatformException(CANCELED, User canceled login, null, null)"
Hi,

I'm using your library to retrieve a google oauth2 token with Authorization Code flow.
The process is ok on IOS but each time I call the API on Android, i get the following error:
 **PlatformException(CANCELED, User canceled login, null, null)**

On the GCP, I create a OAuth 2.0 Client IDs for Android and get the following package name:
![package_name](https://user-images.githubusercontent.co

[2020-12-03 08:53] ujnamss opened #51 "IOS: Reading token from Storage fails when invoked from a background task"
Hi,

The code `AccessTokenResponse tknResp = await this._oAuth2Helper.getTokenFromStorage();` will always return null when invoked from a background task [my iPhone is/was locked].

To Isolate the issue, I created a "MemoryStorage':
`class MemoryStorage extends Storage {
  @override
  Future<String> read(String key) async {
    return {get the key from a map};
  }

  @override
  Future<void> write

[2021-01-13 08:00] RaoSaqib7860 opened #54 "Fatal error: Unexpectedly found nil while unwrapping an Optional"
I am going to link the outlook calendar with my own client

[2021-01-15 09:09] SogoGolf commented on #48
hi @okrad , very sorry for the late reply. Yes you are 100% correct - it turns out the API we we're trying to make use of did not conform to the OAuth 'standard'. Anyway since then they redid their API and now all is good.

[2021-01-15 09:09] #48 closed

[2021-01-17 13:11] okrad commented on #54
Hi, can you provide some more context (when is the error happening, what's the stack trace, ...)?

[2021-01-17 13:15] okrad commented on #50
Hi @scadot, can you try adding an additional "/" in the redirectUri (com.example.remote://oauth2redirect)?

[2021-01-17 13:33] okrad commented on #51
Hi @ujnamss, nice catch!

Thank you for the insight, I think you are right about the IOSAccessibility parameter. I'll try to integrate it to the SecureStorage class asap.

[2021-01-17 13:54] okrad commented on #49
Hi @essl-balshawl, how do you delete the token?

The OAuth2Helper has a purposedly defined "disconnect" method that invokes the revocation token endpoint on the server AND deletes the token in the storage.

You just need to specify the "revokeUrl" parameter when instantiating the client, for example:

[code]

[2021-01-17 17:32] eggman87 opened #55 "Endpoint with null scope in response can produce NPE"
This is probably just an implementation issue with the endpoint I am using (imgur.com). This oauth endpoint does not use scopes so I do not provide any scopes on my request. The token response has null in the response map returned for scopes though. This causes a NPE in the response handling code as it calls `isEmpty` on the `scope` value.

Should be an easy fix. Will throw up a PR.

<img width="6

[2021-01-17 18:43] eggman87 commented on #55
Also curious if there is any way to read the extra data in the response such as `account_id` or `account_username`?

[2021-01-17 18:51] eggman87 commented on #10
@okrad what would you recommend for API where authentication is optional? Is there a way to check if a token is currently stored through the library API?

the flow would be, if user is not authenticated -> call api without helper, if authenticated use helper (this would strictly be for auth optional apis). Maybe we can add a param to the request methods to specify if auth is required or not so the

[2021-01-17 18:51] ujnamss commented on #51
hi @okrad, here is the code that i used as a fix, see if it helps:
`final IOSOptions iosOptions =
    IOSOptions(accessibility: IOSAccessibility.first_unlock);

class PoppinsSecureStorage extends Storage {
  static final FlutterSecureStorage storage = FlutterSecureStorage();

  PoppinsSecureStorage();

  @override
  Future<String> read(String key) async {
    return await storage.read(key: key, iO

[2021-01-28 11:10] Kilio22 opened #57 "Not able to get refresh_token - Custom aad client"
Hi!

So as the title of this issue says: when I'm authenticating with the following aad custom client:
[code]
the authentication process is working, I'm getting an access_token as expected, but not any refresh_token.
Here is my sign in method:
[code]

Am i doing something wrong?

[2021-01-31 16:15] #31 closed

[2021-02-10 16:11] DeD1rk opened #58 "OAuth2Helper does not provide PUT and PATCH requests"
## Issue

Currently, the OAuth helper does not provide PUT and PATCH requests. I think it would be nice to add support for those (and possibly also for OPTIONS, HEAD and TRACE).

## Solution

This would be a very simple non-breaking change, as the post() method could basically be copied for PUT and PATCH. I currently extend the helper by only adding put() and patch() that are basically identical t

[2021-02-17 11:39] artoniaz opened #59 "Access idToken"
Hey,
I need to access idToken rather than accessToken. How to handle it?

[2021-02-18 10:07] #59 closed

[2021-02-21 20:40] TojoWalli opened #60 "web support?"
Hi, is there going to be web support in the future?

[2021-02-22 16:22] okrad commented on #57
Hi @Kilio22, I'm sorry I never used aad.

From the docs I see that to obtain a refresh token you need to use the "offline_access" scope, just like you are in fact doing, but it seems to me that it should be used "as is", without adding the "https://graph..." prefix.
See for example: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-id-token-as-well

[2021-02-24 21:28] okrad commented on #58
Hi @DeD1rk, I just added the PUT, PATCH and HEAD methods to the helper class (and refactored it a bit...).
Can you check it out?

Thank you

[2021-02-24 21:46] DeD1rk commented on #58
Hey @okrad, that looks perfect! Also nicely refactored. Thank you!

[2021-02-24 21:46] #58 closed

[2021-02-26 17:15] Kilio22 commented on #57
Hi!

I'm going to close this since I've found another way to handle the login process.

Thanks anyway!

[2021-02-26 17:15] #57 closed

[2021-03-05 12:52] pepe19000 opened #62 "Never return from browser"
I have built a simple Flutter application with a login screen what contains a "Sign in with Google" button.

This button call your sample code:

[code]

And add intent-filter next to an exist <activity> tag in the 'main/Androidmanifest.xml'

[code]

I tried without android:host or with my.test.app on the scheme, but it seems like my app not see my intent-filter...
When I used your sample (with my.

[2021-03-07 12:34] pepe19000 commented on #62
I found the solution. I opened an issue on stackoverflow, so my answer is in it:
https://stackoverflow.com/questions/66495465/flutter-android-intent-filter-with-google-oauth/66516545#66516545

[2021-03-12 04:00] fabioselau077 commented on #60
same question, here found in tests MissingPluginException(No implementation found for method authenticate on channel flutter_web_auth)

[2021-03-14 21:12] okrad commented on #60
Hi, currently the web platform isn't supported.
I'm working toward it, but first I need to find replacement for a couple of dependencies that don't offer web support.

[2021-03-16 10:40] bat79a opened #64 "NoSuchMethodError: The method 'cast' was called on null"
Hi all.

I just update the lib oauth2_client 1.3.0 to 1.7.1 but now my openid connection failed.

Here is the error message that I have :
[code]

If someone can help me to fix this, it will be awesome.

Thx a lot.

[2021-03-18 09:26] manjotsidhu opened #66 "Migrate to null safety"
This is a request to add support for [null safety](https://dart.dev/null-safety) .
We depend on your awesome package, so would be great to have null safety enabled.

The Dart/Flutter team already encourages publishing the migrated packages: See this [blog post](https://medium.com/dartlang/preparing-the-dart-and-flutter-ecosystem-for-null-safety-e550ce72c010).

See the [migration guide](https://dar

[2021-03-18 23:22] pavan-kalyan commented on #62
Thanks @pepe19000, this helped me out.
I could not figure out why using a custom scheme with google OAuth is so ridiculously difficult on android but using the client id is an acceptable solution for now. Even konrad's oauth2_test_client repo wasn't working (but non google oauth was working fine with custom scheme).

[2021-03-19 08:00] pepe19000 commented on #62
I didn't try another non google oauth. In that case is a fake custom scheme enough?
Google always said that for fake custom scheme: "redirect uri mismatch"....

[2021-03-25 17:32] DeD1rk opened #67 "Add method to send custom requests to OAuth2Helper"
It would be nice to be able to have `OAuth2Helper.send(BaseRequest request, {BaseClient client})` that adds a token to the request and sends it, as is done with other requests right now. This way it becomes possible for example (my use case) to send MultiPartRequests.

[2021-03-26 15:08] jun-exposure opened #70 "Allow custom clients to override certain aspects of response parsing to handle non-standard oauth implementations."
I have created a PR #69 to address this.

Some oauth servers do not fully implement the standard, or have additional requirements. Refactored AccessTokenResponse, OAuth2Client, and TokenStorage to allow subclass to implement those custom behaviors. In particular, these are the "non-standard" implementations:

Requires scopes to be a comma separated string, rather than a list of strings
Additional

[2021-03-26 17:16] DeD1rk commented on #67
I'm working on a PR, but it turns out that StreamedRequests and MultipartRequests can not be copied (so they can't be sent twice), because they have members that 'finalize' when the request is sent, so I don't really see a way to provide this functionality for all BaseRequests. Does anyone have any idea how we can implement support for Streamed/Multipart requests otherwise? The only real approach

[2021-03-26 17:53] DeD1rk commented on #67
I just had an idea:
I could make a method `OAuth2Helper.createAndSend(Future<http.BaseRequest> Function() requestBuilder , {http.BaseClient httpClient})` or `.createAndSend(http.BaseRequest Function() requestBuilder, {http.BaseClient httpClient})` (or maybe some other name), that calls `requestBuilder` to get a (new) request, then adds the token and sends it. If needed it can call the builder agai

[2021-03-26 22:03] okrad commented on #66
Hi @manjotsidhu, I'm already working on it!

[2021-03-29 07:21] bamossza opened #71 "Android can I open a website to authenticate my in-app browser without jumping outside the app?"
Android can I open a website to authenticate my in-app browser without jumping outside the app?

The iPhone Device can pop up browser in-app

oauth2_client: ^1.8.0

Thank you so much.

[2021-03-30 19:50] okrad commented on #66
Hi @manjotsidhu, null safety support has landed with the new release (2.0.0-nullsafety)!
I couldn't migrate all of the dependencies, since flutter_web_auth still doesn't implement null safety. This shouldn't be too much of a hassle, anyway as soon as it gets migrated I will update oauth2_client too.

[2021-03-31 04:05] manjotsidhu commented on #66
Thank you!

[2021-03-31 04:06] #66 closed

[2021-04-06 09:44] chrislaurie-bs opened #72 "Complete null safety"
After cloning the repository, and bumped flutter_web_auth to 0.3.0, I could build my app with null safety. It seems the latest version of flutter_web_auth works.  See pull request: #73

[2021-04-06 21:03] exemplari opened #74 "Custom URI Scheme Error"
I followed the instruction for an Android build but kept getting a 400 error for custom schema not acceptable.

`
//Instantiate an OAuth2Client...
GoogleOAuth2Client client = GoogleOAuth2Client(
	customUriScheme: 'my.test.app' //Must correspond to the AndroidManifest's "android:scheme" attribute
	redirectUri: 'my.test.app://oauth2redirect', //Can be any URI, but the scheme part must correspond to

[2021-04-07 07:17] chrislaurie-bs opened #75 "helper gets stuck on auth web page"
I am new to oauth, but keen to learn. I use the helper to connect to a SAP Hybris oauth server. When the webpage opens I get a prompt for username and password. If I fill it in correctly and I have the callback is setup correctly I get this screen:

![image](https://user-images.githubusercontent.com/55689394/113825903-d67ca380-9781-11eb-9ed0-86257ad4d141.png)

I assume this means that I have been

[2021-04-07 07:40] chrislaurie-bs commented on #75
The SAP Hybris documentation is [here](https://help.sap.com/viewer/d0224eca81e249cb821f2cdf45a82ace/1905/en-US/3d3ea6a4d5fa486aa324ce278fa2afc3.html), but to my untrained eye it looks standard?.

[2021-04-07 17:43] DeD1rk commented on #67
I've switched to a different oauth package for some other reasons, but it turns out theres really no need to actually send a request twice (only revokation of a token would nit be resolved), so a very basic implementation (I've seen one in the PR for implementing Client).

[2021-04-07 20:38] #72 closed

[2021-04-07 21:05] okrad commented on #75
Hi @chrislaurie-bs, which oauth flow are you using?
If using the Authorization Code flow, did you set a redirect uri in the client configuration panel? Especially when developing on android, it is best to avoid HTTPS urls if possibile. Instead try to use a custom scheme url, for example: _my.test.app://oauth2redirect_

If you can't avoid HTTPS urls, take a look at the [FAQ section](https://github.

[2021-04-07 21:23] okrad commented on #74
Hi @exemplari, thank you, I'll update the README asap!

[2021-04-07 21:32] okrad commented on #71
Hi @bamossza, what's the Android version? The authorization url should open in a Custom Tab instance, and fall back to an external browser only when Custom Tabs are not supported by the android version.

[2021-04-07 21:50] okrad commented on #64
Hi @bat79a, can you try upgrading to the latest version (2.0.1)?

[2021-04-07 21:56] okrad commented on #55
Hi @eggman87, sorry for the delay... Does upgrading to the latest (null safe) version solve your problem?
As for the extra data in the response, I'm actually working on a refactorization that will allow reading non standard/custom fields.

[2021-04-07 22:41] eggman87 commented on #55
@okrad no worries. The project I was working on was a solo project so I just used a modified version of your lib (with the fix, and it worked fine), but will give the latest version a try next time I open the project (I assume it will work).

Cool to hear about being able to access extra data, will be useful. Thanks.

[2021-04-08 07:17] chrislaurie-bs commented on #75
I did set the redirect path, and it is set up on the hybris server correctly. It wasn't before, and I got an error re the redirect uri not being set up, but after I added it, I am now getting this. I am not getting the expected message about host not available for https. That is why I think something else is going on here. It seems as if the return from the server is not caught/processed.

[2021-04-08 08:25] Novinyo opened #76 "Undefined class 'AccessToken'"
In your example you have a class AccessToken but there is no such class while doing the real implementation

[2021-04-09 21:08] okrad commented on #76
Hi @Novinyo, you are right, I just updated the README.
The actual class name is ```AccessTokenResponse```!

[2021-04-09 21:10] okrad commented on #75
Did you modify the AndroidManifest adding the intent filter to allow handling the redirect uri?

[2021-04-09 21:13] okrad commented on #74
README updated! (24e2097e3bb38e4528d16db9261bd4d068c2f548)

[2021-04-09 21:13] #74 closed

[2021-04-15 20:21] okrad commented on #70
HI @jun-exposure, I just published a new release (2.1.0) that should address your needs.

In brief:
* to use another scope separator, you can pass the client constructor a new parameter: ```scopeSeparator: ','```
* to access custom/non standard fields in the token response, you can use the ```OAuth2Response.getRespField()``` method
* you can override the ```OAuth2Client.http2TokenResponse``` metho

[2021-04-15 20:21] #76 closed

[2021-04-15 20:27] okrad commented on #55
Hi @eggman87, with the new release (2.1.0) you should be able to access custom response fields by using the ```getRespField``` method.

For example:

[code]

Hope it help!

[2021-04-16 01:59] jy-simplec commented on #70
Thank you @okrad I will definitely test it out tomorrow and let you know!

[2021-04-16 15:08] jy-simplec commented on #70
@okrad I can confirm 2.1.0 works for both Android and iOS. Thank you! The only change needed was:

return AccessTokenResponse.fromHttpResponse(
        http.Response(rMap['body'], response.statusCode),
        requestedScopes: requestedScopes);

to

return AccessTokenResponse.fromHttpResponse(
        http.Response(jsonEncode(rMap['body']), response.statusCode),
        requestedScopes: requestedS

[2021-04-16 18:42] hallr-boulder opened #77 "strava? getting 'bad request'"
More of a question than a bug report. Has anyone gotten oauth_client to work with Strava via a Flutter app?

The request generated by oauth2_client sent to www.strava.com/oauth/mobile/authorize appears to be valid but  I'm consistently getting a "bad request" when webAuthClient.authenticate is called

I believe that I've set up a custom client and modified AndroidManifest.xml correctly. I'm using

[2021-04-16 20:26] #55 closed

[2021-04-18 08:01] okrad commented on #70
Fine, thank you for testing it out!

[2021-04-18 08:01] #70 closed

[2021-04-19 18:38] hallr-boulder commented on #77
Got things working (Flutter/Android) with Strava so leaving notes for the next person.

1. In the intent-filter in AndroidManifest.xml I used:  <data android:scheme="myapp://localhost" />
2. In a custom Auth2Client extending OAuth2Client:
          authorizeUrl:  'https://www.strava.com/oauth/mobile/authorize',
          tokenUrl: 'https://www.strava.com/api/v3/oauth/token?client_id=myClientID&cli

[2021-04-21 10:50] #67 closed

[2021-04-21 21:36] hallr-boulder commented on #60
Another vote for web support here... though I know it's not easy

[2021-04-22 13:53] ameya-connexis opened #78 "Does this support Outlook calendar as well?"
Does this support Outlook calendar as well?

Need to fetch outlook calendar events inside the application. Does this package currently supports that, if yes, any sample codes I can refer to?

[2021-04-22 19:53] okrad commented on #77
Thank you @hallr-boulder, hope it will be useful to someone else!

[2021-04-24 14:59] MarkOSullivan94 opened #79 "Suggestion: Make use of releases on GitHub"
First off, thanks to everyone who has contributed towards this package! 😄

It'd be great if the GitHub [releases](https://github.com/teranetsrl/oauth2_client/releases) section could be updated with each new release published.

[2021-04-27 15:13] Rhesos opened #81 "No redirection once logged in with Google"
Hello, I am trying to use OAuth2 in Android with Google as provider.
I am well redirected to Google authentication page. But once I log in, redirection does not happen, I am just sent to google.com.

Client definition and call to Google:
[code]

AndroidManifest related Activity:
[code]

Does anyone have an idea where this issue comes from? Any help would be appreciated!

[2021-04-27 20:11] #77 closed

[2021-04-27 20:32] okrad commented on #79
Thank you @MarkOSullivan94 for the suggestion, I'll try to keep the releases section updated from now on!

[2021-04-27 20:44] okrad commented on #81
Hi, did you check if the redirectUri parameter corresponds exactly to the one you used in the google API console?

[2021-04-27 22:10] Rhesos commented on #81
In the google API console, it seems that there is no way to specify the redirectUri for Android clients.
Only related config I can find is "redirect_uris":["urn:ietf:wg:oauth:2.0:oob","http://localhost"] inside the client secret .json file that I downloaded from the Credentials page of the google API console.
Does that mean I misconfigured the client somewhere? Or maybe I am not supposed to use an

[2021-04-28 12:58] #79 closed

[2021-04-30 01:46] rlfolden opened #82 "Unhandled Exception: MissingPluginException(No implementation found for method read on ...flutter_secure_storage"
I built your example targeting macos and get the following errors:

[ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: MissingPluginException(No implementation found for method read on channel plugins.it_nomads.com/flutter_secure_storage)
#0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel.dart:156:7)
<asynchronous suspension>
#1      FlutterSecureStor

[2021-05-05 20:34] okrad commented on #82
Hi @rlfolden, it seems to be a known issue that sometimes happens with flutter plugins.
I never experienced it myself, but maybe you can find some (hopefully) useful information [here](https://github.com/flutter/flutter/issues/62006)...

[2021-05-05 20:49] okrad commented on #81
Can you try selecting "iOS" as the application type, and put your custom uri scheme in the Bundle ID field?

[2021-05-29 21:48] okrad commented on #60
Hi, preliminary web support has just been released! Can you try it out?

[2021-05-30 13:34] j555 opened #83 "Https redirect not working"
The Oauth provider I am using recently moved to requiring https redirects.  Everything was working when an https redirect was not required.   Now when I run the app I get redirected to the https redirect I set up and the browser window doesn't close and the token is never received.

I set up the app link and tested it at https://developers.google.com/digital-asset-links/tools/generator.  It gives

[2021-06-01 11:55] AlexMainaMunyua opened #84 "Authorization Error."
Error 400: redirect_url_mismatch

What might be the problem

[2021-06-09 21:01] okrad commented on #84
Hi @AlexMainaMunyua, there's something fishy in your code...
First, you are istantiating an OAuth2Helper but then you don't use it.
Second, where does the tknResp variable come from? I don't see it being initialized anywhere...

From what I understand your code should be something like:

[code]

[2021-06-09 21:12] okrad commented on #83
Hi @j555, from your example it's not clear if the intent-filter is inside an activity tag, and if so, if it is declared correctly:
[code]

[2021-06-11 10:10] AlexMainaMunyua commented on #84
Thanks alot @okrad for your help. You are so kind.

However, I followed your direction but I was still getting the same error; So I continued to do my research and I got a solution saying redirectUrl should be written as follows `redirectUrl: 'com.googleusercontent.apps.12234567843-asdffjgh3735dhywbhdtsb6:/oauth'`

This worked for me and maybe you can edit the documentation for future reference.

[2021-06-22 08:41] ireshmw opened #85 "Flutter Web Keycloak login not redirect"
Hello!
I'm trying to authenticate my Flutter Web app with Keycloak.  When I request a token new tab will open and show me the keycloak login page and after authuntication success, the pop tab will not close and redirect the URL open on that poped tab instead of closing it.

is there any way to get a sample code for flutter web authenticates?

Below is the code which I use.

`
[code]

Token request

[2021-06-22 22:27] oceanebelle commented on #82
Encountered this error today and mine was resolved by adding additional dependencies in pubspec.yaml
e.g.
`
dependencies:
  oauth2_client: 2.2.0
  flutter_secure_storage: 4.2.0
  flutter_web_auth: 0.3.0
`

[2021-06-22 22:44] oceanebelle opened #86 "Custom Auth Client fails when fetching scope"
I have a custom client for azure / microsoft oauth
[code]

I've set my helper to be like this:
[code]

When I run this, I get an error when the scope is being fetched. There is a mismatch between what the code expects vs what is returned. The string returned by the microsoft API is not split and turned into an array. the method is returning a string only.

Trace of the error.
[code]

My version
de

[2021-06-22 22:46] oceanebelle commented on #86
Additionally, when I use AUTHORIZATION_CODE, the sign in flow works fine but it doesn't seem to save the state so it's always authorizing.

[2021-06-23 13:20] ibelz commented on #26
Any news to this topic?

Ok, the fix with the dependency override from ThexXTURBOXx works for me, but it's really "hacky"...
The PR at FlutterWebAuth is open since months without any merge.

Is there any other "offical" solution in sight here?

[2021-06-23 13:23] ThexXTURBOXx commented on #26
@ibelz Actually, it's not a hacky solution as it is an old version of the official one. I would really encourage everyone to use the official solution now as it also fixes the same bug for Apple users:
[code]

[2021-06-23 13:37] ibelz commented on #26
@ThexXTURBOXx
Oh wow! That sounds great! Much better.
Thank you very much for your work an help :)

[2021-06-23 21:54] okrad commented on #86
Hi @oceanebelle, can you check the latest version (2.2.1)? I think your issue should be fixed...

[2021-06-24 03:32] ireshmw commented on #85
Is anyone having this issue?

[2021-06-24 19:46] oceanebelle commented on #86
Thanks @okrad it does get beyond the issue now but I"m getting a storage related bug.

[code]

[2021-06-24 20:55] outluch commented on #86
Fighting this issue 3hr already.
My discovery:
file `token_storage.dart`
[code]

[2021-06-24 21:47] okrad commented on #86
I just pushed a patch (not yet published on pub.dev), can you try it out?

Thank you!

[2021-06-24 21:54] okrad commented on #85
Hi @ireshmw,
from your example it looks like you are using a custom scheme, but on the web platform you should use http(s) urls for the redirectUri, or else the browser won't be able to "intercept" it.

Hope it helps!

[2021-06-24 22:04] outluch commented on #86
Nice, it works now!!
I was close to that, but didn't get it how to fix :)
[code]

[2021-06-25 07:01] ireshmw commented on #85
Hello @okrad
Yes I'm working with localhost, is there any way to redirect without 'HTTPS', as I mentioned the redirection works, but it won't close the pop-up tab, instead redirected URL open in the same pop-up tab.

[2021-07-07 14:17] j555 commented on #83
Sorry for the late response.  The intent-filter is inside an activity tag and appears to be declared correctly, but it is still not working.  It opens the redirect URI in a browser and then just sits with no error at all.  Any other ideas as to what may be wrong?

Thank you

[2021-07-07 19:19] #86 closed

[2021-07-07 19:34] okrad commented on #85
Are you still using the "com.iresh" scheme or are you using an http url?

Did you follow the instructions for the web platform in the README?

Basically, the redirect uri should point to a page in your web application with a script like this:

[code]
This way, when the server redirects the page will intercept the "code" parameter and send a postMessage to the window from which the authorization re

[2021-07-07 19:36] okrad commented on #84
Hi @AlexMainaMunyua, thank you for the feedback! Can you remember where you found that solution?

[2021-07-07 19:41] okrad commented on #82
Thank you @oceanebelle for the suggestion!
@rlfolden, did you managed to solve your issue?

[2021-07-08 11:36] Sese-Schneider commented on #26
I've created a convenience fork of this project which can be used to achieve the behavior.

[code]

Hope this helps you!

I will not create a PR for now, because I think @teranetsrl should not merge this until https://github.com/LinusU/flutter_web_auth/pull/64 is available stable on pub.dev

/cc @ibelz @ThexXTURBOXx @DanielEberl

[2021-07-16 05:46] sderungs99 opened #88 "Shopify client"
Hi All, great library!

Has anyone been able to successfully connect to Shopify? The issue I am facing is that when I am successfully authenticating in the browser view that comes up, it redirects me to the redirect URI and the flow ends (I can see in the URL that the code is successfully added, though). My assumption is that the browser window should close and I should get the Token. This is the

[2021-07-19 07:23] EagleOne33 opened #89 "callback from Spotify not working on Android"
Hello all,

Before posting this I have been trying a lot of different things but I can't get this to work on Android... I don't get why.
It works fine on iOS though... So I'm suspecting something wrong in my AndroidManifest.xml...

I'm trying to get authentified on Spotify with this code:
[code]

And I'm using this home made Spotify client
[code]

My AndroidManifest contains this:
[code]

I'm bein

[2021-07-19 07:27] EagleOne33 commented on #89
While writting the issue, I realized that I was not specifying the name of the activity correctly in the AndroidManifest.
android:name="com.linusu.flutter_web_auth.CallbackActivity" was missing.

After adding it back, it works !
Sorry about that

[2021-07-19 07:27] #89 closed

[2021-07-27 20:48] semajed commented on #83
Same challenge. The URI Browser stays open. Subscribed to this thread to see if any solutions pop up.

[2021-07-28 02:41] semajed commented on #85
@okrad  - I'm having a similar challenge and I am using https for custom scheme. Per your last comment, It looks like it is searching specifically for "code" in the urlParams of the responded URL. I'm using a 3rd party API and this is what I'm expecting to see come back:

So it isn't returning "code" in the response urLParams. Will this be an issue?

[2021-07-28 07:27] charm-cloud commented on #75
I m getting a similar problem for , using coinbase , also my intent filters work well , and redirect uri works well , i tested using adb

[2021-07-28 19:36] okrad commented on #85
Hi @semajed, the Authorization Code flow is a 2 step process: in the first step the server must return a "code" parameter that must be exchanged for an authorization token in the second step.

It looks like the API you are using requires a single step authorization flow, such as the "Client Credentials" flow.
If this is the case, you should explicitly set the CLIENT_CREDENTIALS flow while instanti

[2021-07-28 20:23] okrad commented on #75
@charm-cloud, not sure what your issue could be, but it seems to me that there's something fishy in your code, see my changes and comments below...

[code]

[2021-07-28 20:41] semajed commented on #85
Oh excellent point, thanks for clarifying. In my case the 3rd party api asks for implicit grant flow. Thanks again for clarifying!

[2021-07-28 21:41] charm-cloud commented on #75
@okrad .Thank you so much for your time and efforts .Previously I tried without authCodeParams, enablePKCE and state parameters .I get the same result , authorization works i do get a email notification (from coinbase saying application has been linked to your account  ), but redirection doesnot  work ,browser is kind of stuck with loader, no error messages either . I referred below link to check

[2021-07-29 15:10] semajed opened #90 "iOS - redirect stalling in 3rd party website or my custom redirect page"
### Description
Using this package to connect to a [3rd party API](https://api.youneedabudget.com/#authentication)...obviously. So I created a custom client, set up a webserver (since the 3rd party API requires the redirect url to be HTTPS), and configured what I thought were the right files. Its been a solid week of attempting this and I'm at the end of the rope, not sure what to look into next o

[2021-08-02 14:43] semajed commented on #90
I ended up switching away from this library and used an in-app webview but still using HTTPS. Seems to work just fine and I can receive the access_token from the 3rd party API, but I know I'll be missing out on some of the other fantastic features of this library. Perhaps I"ll circle back at a later time to continue to debug but I pressing forward with other key features.

I'll let you guys decide

[2021-08-05 09:36] igaponov opened #91 "No redirect URI in the params for Android Facebook login"
Copied the example for Facebook
[code]
[code]
 and got this error in the browser on fb page:

![image](https://user-images.githubusercontent.com/4271889/128328004-998d6dff-cbb8-497c-9bc9-60147222e673.png)

[2021-08-07 10:49] alexandermargaritov commented on #91
Facing same issue. Have to use some workarounds (not best ones).

[2021-08-08 09:17] okrad commented on #90
Hi @semajed, thank you for reporting your experience.
I currently don't have access to an iOS device, but I guess it could be an issue with the underlying library used for obtaining the authorization code. I'll try to update the library asap, and let you know.

[2021-08-08 09:19] okrad commented on #91
That's weird... @alensugimoto, can you share which workarounds you had to use?

[2021-08-09 19:24] alensugimoto commented on #91
I haven't used the Facebook client yet. I only used Google and Dropbox for my app, and I don't see anything wrong with your code.

Maybe the problem has to do with the app's Valid OAuth Redirect URIs field.

[2021-08-09 19:56] igaponov commented on #91
@alensugimoto Valid OAuth Redirect URIs field converts values to normal urls (`my.app.id://oauth2redirect` to `https://my.app.id/oauth2redirect` for example) and this doesn't help.

[2021-08-10 09:12] alexandermargaritov commented on #91
Our workaround is to use "https://localhost:8080" as redirect-uri and "whitelisted" it in FB app settings.
But it doesn't look like proper solution.

[2021-08-18 19:58] mpashka commented on #91
These worked for me:
1) In facebook application web control panel add "android" into  "login through facebook"
2) Set appropriate application package in facebook application properties (it asked also about some hash, just used default debug storage and hash - same as provided with additional params `-keystore ~/.android/debug.keystore -storepass android -keypass android`).
3) Use redirect URL fbco

[2021-08-24 13:45] ccs2epro opened #92 "PlatformException(CANCELED, User canceled login, null, null) still present even after modify AndroidManifest"
Hi,
i have thi error when i try using your plugin with sumup oAuth APi.

Here my code :

[code]

And i also update AndroidManisfest with a new intent-filter :
[code]

But i still have this PlatformException error, i don't know what am i doing wrong.
Thanks for your help !

[2021-08-31 16:54] jkaliaSignify commented on #60
I am having a difficulty understanding how to use web from the docs. Can you add a few more elaborate instructions or direct me to an example code?

[2021-09-01 12:08] giaunguyen2176 commented on #91
@mpashka's solution works for me.  It seems to work even when skipping step 2. But leaving client secret at client side got me worry.

[2021-09-01 20:39] brotkrume commented on #62
Hi, I create an account here on github, only to say: Thank you so much 😀 You helped me so much 👏

[2021-09-02 14:59] pepe19000 commented on #62
:)

[2021-09-02 14:59] #62 closed

[2021-09-10 14:25] Edalbrelord opened #93 "Query String added to initial URL does not have URL Encoding"
https://github.com/teranetsrl/oauth2_client/blob/4eb2565a513f660be1aa7d00d1ebe0232d827b88/lib/src/oauth2_utils.dart#L33

The line where the parameters are URL encoded is commented out, this results in the parameters (including redirecturl) not being encoded properly.
If some applications require a plain string, maybe we can give this as an option, but I feel like they should be URL encoded by defa

[2021-09-10 14:53] Edalbrelord commented on #93
https://github.com/teranetsrl/oauth2_client/pull/94

[2021-09-14 10:04] AndrewStickler opened #95 "How to set login_hint?"
I am using the base OAuth2Client class to authenticate to Azure AD and this works just fine, but I would like to be able to specify a login_hint and can't see how to do so - is this an omission in the code or just the documentation?

[2021-09-14 10:26] AndrewStickler commented on #95
It's OK, I found the authCodeParams field in OAuth2Helper, which allows me to set the login_hint. Might be worthy of documentation though.

[2021-09-14 10:26] #95 closed

[2021-09-15 18:23] AndrewStickler commented on #26
flutter_web_auth now supports ephemeral sessions as of v0.3.1 - any chance of oauth2_client making use of this soon please?

[2021-09-15 19:55] ThexXTURBOXx commented on #26
@AndrewStickler I opened a PR (see #96) that supports this feature. Let's hope it gets merged soon.

[2021-09-15 20:29] okrad commented on #92
Hi @ccs2epro, where did you put the intent-filter tag?
Make sure it's inside an activity with the "com.linusu.flutter_web_auth.CallbackActivity" name, e.g:

[code]

[2021-09-15 21:53] #26 closed

[2021-09-22 21:25] bakhlov commented on #64
I have the same issue during token refresh (version 2.2.2). In my case, AccessTokenResponse has null scope after AccessTokenResponse.fromHttpResponse.

[2021-09-24 10:38] benjaminhorner opened #98 "Version 2.2.3 was not bumped to 2.2.3"
Just a little note: it is not possible to install version 2.2.3 with the command `flutter pub add oauth2_client` because the version number was not bumped.
Here is the [PR](https://github.com/teranetsrl/oauth2_client/pull/97).

[2021-09-27 09:54] benjaminhorner opened #99 "Checking for existing token at app start crashes on certain devices"
This is related toi this[ flutter_secure_storage issue](https://github.com/mogol/flutter_secure_storage/issues/161) I believe.

[2021-09-28 15:52] AndrewStickler commented on #98
I would very much like 2.2.3, so is there any chance  of this being published soon please?

[2021-09-28 20:43] okrad commented on #98
Hi, sorry for the delay, I just published v 2.2.4!

[2021-09-29 10:37] mzrimsek commented on #47
I'm also having this exact issue. I'm at a loss for what to try. I've recreated a new client to authenticate with but have the same result. I have other clients that authenticate no problem still. Very confused how to fix this when the codebase is unchanged from the last time I was working on it. Any ideas for what to try?

[2021-09-29 10:41] AndrewStickler opened #100 "Authorise request has broken scope parameter"
Commit [e503516] seems to have broken the authorize request, as it has changed the scope separator from a space to a plus character. Can this be undone please, as oauth is now broken with V2.2.4.

Thanks,
Andrew

[2021-09-29 10:43] AndrewStickler commented on #98
Hi @okrad - version 2.2.4 has broken oauth's authorize request - see https://github.com/teranetsrl/oauth2_client/issues/100.

[2021-09-29 22:05] okrad commented on #100
Hi @AndrewStickler, I restored the scope separator and published version 2.2.5, can you check it out?

[2021-09-30 07:33] AndrewStickler commented on #100
Yes that's fixed now, thanks.

[2021-09-30 07:33] #100 closed

[2021-10-01 08:09] AndrewStickler opened #101 "preferEphemeral flag isn't exposed."
The fix for issue #96 doesn't appear to provide a way to configure the new ephemeral flag from either the OAuth2Client class or the OAUth2Client.getTokenWithAuthCodeFlow() method, so there is no way to actually make use of it.
Shouldn't preferEphemeral be passed down from higher up the call stack?

[2021-10-02 16:29] mzrimsek commented on #47
I wanted to give a quick update - I believe the reason this happened for me was that my SSL cert had expired toward the end of last month and that was causing the OAuth requests to fail. I got a much more specific error when attempting to get a token from Postman (it gave me an error saying that my cert had expired). It seems that the issue has gone away a few days later now that my LetsEncrypt ce

[2021-10-03 21:28] okrad commented on #101
You are right, that part was missing!
I just published a new version, now you can set the flag directly in the client or in the helper. For example:

[code]

[2021-10-04 09:14] benjaminhorner opened #102 "2.2.5 Breaks with "null check operator used on a null" exception"

[2021-10-04 09:16] #99 closed

[2021-10-04 10:34] AndrewStickler commented on #101
That works for me now - thank you very much.

[2021-10-04 10:34] #101 closed

[2021-10-04 18:00] seidlere commented on #83
i'm having the same problem on iOS 14. i never get the result back from the `.authenticate` method. i took a look at the native iOS code in the library, and it seems to be correctly making use of `ASWebAuthenticationSession`. but the browser that opens for the third-party oauth login never closes, and original application remains in the background.

[2021-10-05 13:59] benjaminhorner commented on #27
I am getting this on version 2.2.4…

[2021-10-05 14:12] benjaminhorner commented on #102
Still an issue in 2.2.6 when using the helper class.

[2021-10-05 14:13] #98 closed

[2021-10-05 18:09] jakub-bacic commented on #102
I think I had a similar issue. Try to explicitly add empty map as `webAuthOpts` parameter when using helper class:
[code]

Let me know if that fixes the issue for you as well. Fix for that should be pretty straightforward - I'll try to create a PR later.

[2021-10-07 20:16] #93 closed

[2021-10-09 16:48] noe-gif commented on #83
I'm having the same issue over here, the Https request is blocking the callback to my flutter app and I do not know what to do. Once the webauthentication is done the url page is correctly redirected to web 127.0.0.1 but then I just stay with an error and don't come back to my app.

[2021-10-10 16:30] #85 closed

[2021-10-10 16:52] ireshmw opened #104 "Flutter web stored token return null and call auth server every time"
Hello! Good day!

When I logged in to my auth server it will return me a JWT token with multiple scopes, and the package will store it in local storage as intended. the problem arises when I try to get the token again, it will not be getting the token which already stored in local storage, instead, it will call auth server,

if I add at least one scope value on OAuthHelper everything works as inte

[2021-10-16 07:34] gabrimatic opened #105 "Flutter web auth without popup window"
I need to open the auth page, on top of the app page, not in a popup window.
How can I handle that?

[2021-10-24 08:30] xBLACKICEx opened #107 "with custome oarth got oauth2Helper responce got error"
# with custome oarth got oauth2Helper responce got error

### The page opens successfully, verifies and returns to the application screen, but after that it reports an error and takes me to the first screenshot.

 #### Is a bug or I have set it wrong?, if it is a mistake, please help me point out thanks.
---
Flutter 2.5.3 • channel stable • https://github.com/flutter/flutter.git
Framework • revisi

[2021-11-08 19:09] igaponov commented on #91
@giaunguyen2176 I confirm this solution works, even without client secret and hash.

[2021-11-16 16:34] Jacob3075 commented on #92
Facing same issue after modification.

[2021-11-21 09:20] gabrimatic commented on #105
I solved it by adding custom BaseWebAuth and getting the code from the URL instead of the post message.

[code]

And on MaterialApp:
[code]

[2021-11-24 12:53] gabrimatic opened #110 "Android 6(Marshmallow) SSL error"
When I run the app on a device with Android 6, I get the SSL error, nothing shows, and no return URL works!
I open the authorizeUrl in the browser, and everything is working fine.

What can I do for Android 6?

[2021-12-06 10:29] yeminsoe opened #111 "How to clear previous login session ?"
When I login using OAuth2Client first, and I killed app. I returned App, but APP not show Login Page again because I already login using OAuth2Client previously . So , how can I do previous session expire ?

[2021-12-10 09:02] ernestoA92 commented on #64
I'm having the same issue  on version 2.3.0.

The problem is on this line:
package:oauth2_client/src/token_storage.dart:41:59

[2021-12-11 11:19] gregertw commented on #111
This depends on the state in your app, not the package as oauth2 does not have a concept of session. Rather, a token has an expiry time. If you log out from your application, you need to throw the token, and if the token has expired, you need to refresh if you have a refresh token or reauthenticate. See here for an example of how this can be done: https://github.com/gregertw/actingweb_firstapp/blo

[2021-12-13 22:45] okrad commented on #64
Hi @ernestoA92, can you try with the newest release (2.3.1)?

[2021-12-14 16:10] Abaddon-88 opened #112 "fullscreen LoginView on Tablet"
Hey,

I built the plugin into my Flutter project and everything works so far. I have the following problem on the Ipad.

After I have confirmed the alert, the LoginView opens. However, this does not take up the whole page but is similar to a popup

How do I get the login window to its full width / height on a tablet.

I could not find any information on adjusting the login view in the documentatio

[2021-12-15 14:03] bounty1342 commented on #81
@okrad, I tried @Rhesos config It worked fine on my emulator but not my partner, and filled on both our phone.
Also tried with iOS has you suggested, and same behaviour (work on my emulator only). This is very strange, is there anything that you could think of ?

So instead of redirecting to the app, it take longer to load and end up on google.com.
The second annoying bit, is that is users donc cl

[2021-12-16 22:18] bakhlov commented on #64
![64](https://user-images.githubusercontent.com/13847045/146456882-447240d8-a9fe-455b-b334-7d6a7fbb1a12.png)

[2021-12-19 02:03] bounty1342 commented on #81
Just found this : https://github.com/okrad/oauth2_client_test

It helps us understand that we had an issue with android:launchMode  in our manifest !

Should reference it in the documentation ;)

Thx all !

[2021-12-25 08:31] gregertw commented on #112
getTokenWithAuthCodeFlow() (and the other flows) takes a BaseWebAuth optional parameter, so you can override the web auth class. If you look in browser_web_auth.dart, you see that the login window is defined like this:
[code]

You can implement your own BaseWebAith overriding authenticate() to your own logic.

[2021-12-29 09:58] cc13com opened #114 "Works fine in emulator but not on real Android device"
Hello,

I implemented the oauth2_client in version 2.3.1 with the following code:

[code]

getWatchlist() and putWatchlist() works as expected in the emulator with Android version 10.0 and flutter 2.9.0-0.1.pre under Mac OS.

If I build the apk-file arm64-v8a release for my smartphone (also Android 10) all is working fine except the oauth2_client functions. As soon as I call e.g. getWatchlist() I

[2021-12-29 22:04] okrad commented on #112
Thank you @gregertw for the suggestion, it would definitely be a viable solution.
Anyway I was thinking that we could exploit the "opts" parameter of the authenticate method to pass custom arguments to the  popup window, such as the desired width and height.

Do you think it would an useful addition?

[2022-01-12 16:34] hallr-boulder commented on #60
Sorry for being super late to respond - I got distracted by another project. I tried web support the other day and, yeah, it works well. Thanks so much for doing this work!

[2022-01-13 19:02] andres-alba commented on #75
Hi

Hi Okrat,  my client console is not allowing me to place my android id link (come.appweb.app_name). it is requiring this to include https:// in the link before updating settings.  is there a work around to this?

[2022-01-14 21:13] herrmayr commented on #49
Hi!

I'm currently facing the same issue with both Dropbox and OneDrive using this package:

I did specify the revokeUrl url when defining the client and I am calling e.g. dropboxHelper.disconnect().
When the user then clicks the "login" button in my app, the package-embedded browser opens and the user is still / already logged in! Instead of seeing a screen to enter my account details, I immediat

[2022-01-26 04:25] hacker1024 opened #116 "Split package into Dart and Flutter components"
I would like to authenticate with an OAuth2 server in my Dart application. Would it be possible to split this package into two components? One part would contain pure Dart code for authentication, and the other would contain Flutter-dependent functionality like secure storage.

[2022-01-29 16:26] gregertw commented on #112
@okrad apologies, this one slipped. Yes, that would absolutely be a better approach. A similar challenge (need for opts but on scopes on refreshToken) is when you try to support AAD as it requires more granularity in the scopes when you first do OIDC and then need to request an access token to a specific resource. You can see how I did it https://github.com/gregertw/cognite_flutter_demo/blob/maste

[2022-01-31 18:46] markusz commented on #91
+1 on @mpashka solution, it's the only way how I could make it work. However, I don't understand why this works and documentation about this is really scarce. Using this feels super hacky

[2022-02-04 20:13] intellitour commented on #104
Can you test with my fork, @ireshmw? I think it might work.
https://github.com/intellitour/oauth2_client/

[2022-02-13 10:45] kohlab opened #119 "Web version, helper doesn't launch login pages for Google and Facebook"
Thanks so much for creating this package. I've got signups/logins for both Google and Facebook working now on iOS! (I haven't completed it for Android because I can't test it.)

On the web, however, the helper doesn't launch the Google/Facebook login pages. I'm not sure what I'm doing wrong.

Here's what I have for Google:

[code]

And this is what I have for Facebook:

[code]

As you can maybe se

[2022-02-13 15:00] kohlab commented on #119
Update: I discovered that `Platform` isn't supported on the web platform, ironically, so I changed the lines in `getGoogleToken()` to:

[code]

And likewise. with `getFacebookToken()`.

At least now the login windows pop up. Neither does what it should, but it's progress...

[2022-02-21 13:40] scognito commented on #49
I'm having the same issue using Keycloak 4.8.3
If it can be useful, this is the server log (removed potentially privacy info):

2022-02-21 13:38:41,284 WARN  [org.keycloak.events] (default task-236) type=LOGOUT_ERROR, realmId=[removed], clientId=[removed], userId=null, ipAddress=192.168.188.10, error=invalid_token, client_auth_method=client-secret

[2022-02-21 20:55] okrad commented on #119
Hi @kohlab, so now the login window opens up but it doesn't redirect after you submit the form?

[2022-02-21 21:17] okrad commented on #116
Hi @hacker1024, can you elaborate a little more on your use case? Are you developing a command line application?
I'm not sure there is much code that's independent from flutter... Maybe the "client credentials" flow, but that 's quite simple to implement with the http package alone.

[2022-02-23 18:38] phr34k opened #120 "PlatformException(CANCELED, User canceled login, null, null)"
@okrad I'm having a hard time getting started with your library. I like it's simplicity. I setup a simple test project (https://github.com/phr34k/oauth-example), and am able to initiate the authentication workflow, but after it has authenticated it doesn't seem to redirect back to the app- when i go back to the app myself I'm hitting the PlatformException exception stating that the user cancelled

[2022-03-11 03:37] KushalxPathak commented on #83
Any Update on this?

[2022-03-13 14:46] supermar1010 commented on #50
I had the same problem for me it was fixed, by adding the activity tag for `com.linusu.flutter_web_auth.CallbackActivity`. And then uninstalling `flutter clean` and then reinstalling the app :)

[2022-03-13 14:46] supermar1010 commented on #92
I had the same problem for me it was fixed, by adding the activity tag for `com.linusu.flutter_web_auth.CallbackActivity`. And then uninstalling `flutter clean` and then reinstalling the app :)

[2022-03-13 16:14] supermar1010 commented on #83
@j555 the intent-filter does not need to be in an activity tag, as far as I know it needs to be in the `com.linusu.flutter_web_auth.CallbackActivity` activity tag.

[2022-03-14 03:33] KushalxPathak commented on #83
@supermar1010  @j555  declared intent-filter in `com.linusu.flutter_web_auth.CallbackActivity` activity tag (as per ReadMe )documentation.Issue remains the same for me too.

[2022-03-14 07:07] supermar1010 commented on #83
@KushalxPathak I've never done that so I'm not sure, but did you do the verifying you own the url?

"Add verification for your deep links: Configure your app to request verification of app links. Then, publish a Digital Asset Links JSON file on your websites to verify ownership through Google Search Console. Learn more in Verify App Links." This is from the Google docs linked under app link in tro

[2022-03-16 01:38] ajnart opened #122 "Example"
Hello, I have been trying to understand how to set up everything correctly for a GitHub auth but I can't figure out how the redirectUri system works. I just get "dns_probe_finished_nxdomain"

I used "http://mytestapp://oauth2redirect" in the GitHub OAuth config page, "mytestapp://oauth2redirect" as my redirect URI in the flutter code and "mytestapp" as the ``customUriScheme``

Is there a way I cou

[2022-03-25 06:54] ADZF opened #123 "helper.get undefined"
I'm trying to add oauth2 on my project, I am trying to make a simple oauth2 project by following your code. But I stumble on a minor issue which is my helper.get on the http.response is undefined. I already import every package listed on the code. I even try adding helpers package nor naming oauth2_helper as helper. nothing works. any solution how to fix this issue?

[2022-04-03 07:59] pascalfriedrich commented on #49
Same here, even if I call removeTokens() manually.

[2022-04-04 08:36] Mubaola23 commented on #27
I am experiencing this in version 2.3.2. For both android and ios android
here is the full error detail

W/libEGL  (27460): EGLNativeWindowType 0xba667008 disconnect failed
D/SurfaceView(27460): remove() io.flutter.embedding.android.FlutterSurfaceView{c59a186 V.E...... ........ 0,0-720,1494} Surface(name=SurfaceView - ng.ondgo.ondgoapp/ng.ondgo.ondgoapp.MainActivity@c59a186@0)/@0xd05d18a
W/libEGL

[2022-04-07 19:53] drunisa007 opened #124 "Keep Saying FormatException: Unexpected character (at character 1) <!DOCTYPE html> IN IOS DEVICE."
Runner[1703:103288] [VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: FormatException: Unexpected character (at character 1)
<!DOCTYPE html>
^

#0      _ChunkedJsonParser.fail (dart:convert-patch/convert_patch.dart:1405:5)
#1      _ChunkedJsonParser.parseNumber (dart:convert-patch/convert_patch.dart:1272:9)
#2      _ChunkedJsonParser.parse (dart:convert-patch/convert_patch.dart:937:22)
#3

[2022-04-09 16:05] alexandranb commented on #50
Hi, if I add com.linusu.flutter_web_auth.CallbackActivity to my app, the app crashes after install. Did anyone have this issue with it?

[2022-04-10 18:52] supermar1010 commented on #50
Without a stacktrace it is hard to say what went wrong. Did you completely reinstall the app after adding the lib and the Manifest entry?

[2022-04-10 19:17] alexandranb commented on #50
Yes, added com.linusu.flutter_web_auth.CallbackActivity to manifest. Cleaned app, built it, uninstalled it, and ran it. After installment it briefly displayed the splashscreen and then it automatically closed. Nothing appears in debug.

[2022-04-11 09:08] westlinkin opened #125 "How to clear the cookie of the webview?"
after delete the app, re-install the app, click the login button, I should be able to type the username and password in, instead,  I immediately see the screen to "allow / grant" my app's access.

We should see a brand new webview every time we start the oauth process.

Thanks in advance

[2022-04-14 09:41] Mubaola23 commented on #125
I'm also facing the same issue

[2022-04-15 06:35] OliverRhyme opened #126 "Expose TokenStorage"
Since now `BaseStorage` is exposed. I think we should also expose the `TokenStorage` so that we can pass the `BaseStorage` there

[2022-04-18 20:28] asmith26 opened #127 "Open and authorize through an installed app (vs browser)?"
Hi there,

I'm using this (fantastic) lib to connect to a user's Dropbox. When authorizing the connection, my app currently opens a browser - is it possible to connect to a pre-installed (and probably already logged into) app?

[code]

Many thanks for any help, and for this amazing lib! :)

[2022-04-19 10:39] drunisa007 commented on #124
closing this issue. i used wrong format.

[2022-04-19 10:39] #124 closed

[2022-04-20 08:43] Mubaola23 opened #128 "Returning empty token when the refresh method is called"
When the token expires, it tries to refresh the token in the secure storage but replaces it with an empty variable causing it to redirect to the login page. I’ve been on this issue for a while and seek possible solutions including checking the GitHub issues but still unable to get a better solution.

Here is where i defined my helper class

class MyOAuth2Client extends OAuth2Client {
  MyOAuth2Cli

[2022-04-20 20:42] okrad commented on #128
Hi @Mubaola23,
it's not clear to me how you are using your helper class, but there's something weird with your code.

For example, you don't need to call `getToken()` each time you instantiate the OAuthHelper: the helper retrieves it from the storage or from the server as soon as it is needed (i.e. before a get or post request).

Furthermore I don't understand why you are calling `disconnect()` in

[2022-04-20 20:59] okrad commented on #125
Hi @westlinkin, are you in iOS or Android?
If on iOS, can you try to instantiate the helper with the "preferEphemeral" param set to false?

For example:
[code]

[2022-04-20 21:01] okrad commented on #123
Hi @ADZF, can you provide a sample of your code?

[2022-04-21 01:25] westlinkin commented on #125
@okrad Thanks. This happens both on Android and iOS.

I used the [flutter_webview](https://pub.dev/packages/webview_flutter) instead. Just implement the `navigationDelegate` function. If the nativigation.url contains the token, exist the webview and continue the login logic.

[2022-04-21 09:02] Mubaola23 commented on #128
I'm using the disconnect in the authorize  method in order to empty the storage if at all there's token stored already before it  authorizes the user.

I will effect these corrections and see if it solves the issue.
Thank you for taking time to review the code.

[2022-04-21 10:50] Mubaola23 commented on #128
I made the corrections you suggested and here is what i have. When the token expires, it  prints the previous token unlike before but redirects back to the login page( whereby  it's suppose to refresh the token )

I/flutter ( 9737): eyJhbGciOiJSUzI1NiIsImtpZCI6IjgyODUxRDU4Mzc2ODE3RUEzOTMyM0VGRTBEQzlENDZGQUJERENENDVSUzI1NiIsInR5cCI6ImF0K2p3dCIsIng1dCI6ImdvVWRXRGRvRi1vNU1qNy1EY25VYjZ2ZHpVVSJ9.eyJuYm

[2022-04-21 20:30] okrad commented on #128
@Mubaola23, are you sure the server provides a refresh endpoint? If so, can it be that the refresh endpoint url is different than the  access token url? Usually they are the same, but they can differ.
In this case, you can set the refresh token endopoint url by passing the refreshUrl property to the client constructor.

For example:

[code]

But first of all, can you verify if actually a refresh t

[2022-04-21 21:05] okrad commented on #127
Hi @asmith26, I'm sorry, no...
I can't even imagine how a process like that could work. The Dropbox app probably uses the Dropbox OAuth service to retrieve a token, and I doubt it provides a way to access the token from any other app, even just for security reasons...

[2022-04-21 21:09] #127 closed

[2022-04-21 21:14] asmith26 commented on #127
Many thanks for the response and info @okrad, that makes sense.

[2022-04-21 21:19] okrad commented on #125
@westlinkin, I'm glad you solved issue!

Just a warning: using a webview [is discouraged](https://www.oauth.com/oauth2-servers/oauth-native-apps/use-system-browser/) in an OAuth 2 flow for security concerns.

[2022-04-21 21:27] asmith26 opened #129 "Unable to upload a binary file (Dropbox)"
Hi there, I'm trying to upload a binary file to Dropbox using this lib. Following https://dropbox.github.io/dropbox-api-v2-explorer/#files_upload, my code is:

[code]

`file` gets uploaded, but unfortunately this only contains the text `--data-binary @'/my/binary/file'` (i.e. not the actual file).

**Am I missing something/doing something incorrectly?** (Mentioning @alensugimoto having [possibly](

[2022-04-22 01:12] westlinkin commented on #125
@okrad Thanks for the heads up!

[2022-04-22 01:12] #125 closed

[2022-04-22 09:32] Mubaola23 commented on #128
Yes ,  I was able to print the refresh token along with the access token

 Access Token: eyJhbGciOiJSUzI1NiIsImtpZCI6IjgyODUxRDU4Mzc2ODE3RUEzOTMyM0VGRTBEQzlENDZGQUJERENENDVSUzI1NiIsInR5cCI6ImF0K2p3dCIsIng1dCI6ImY1MDYxOTkxMiwic2NvcGUiOlsib3BlbmlkIiwicHJvZmlsZSIsIm9mZmxpbmVfYWNjZXNzIl0sImFtciI6WyJwd2QiXX0.Vqz21ZUuyvHhoE9sBRuZAr8FJxH8VJX0s__h9wRfPS8xl3B9Zlew73B2_eGgHigCtBd4fzZ_0M6X7ymmT5OW-oosfZ866RY

[2022-04-23 11:23] alensugimoto commented on #129
Hello! Try sending the binary data directly in the body. I think this should help: https://stackoverflow.com/a/59181327/17160612.

[2022-04-23 23:34] asmith26 commented on #129
Thank you so much for the tip @alensugimoto, I got this to work:

[code]

[2022-04-23 23:34] #129 closed

[2022-04-24 05:03] alensugimoto commented on #129
Glad it helped!

[2022-04-26 21:04] okrad commented on #128
Hi @Mubaola23, I managed to replicate your issue, now I need to understand what's going on and how to solve it...
I'll let you know as soon as possible, thank you for taking the time to report your problem!

[2022-04-27 13:21] zifeo opened #130 "ODIC security with the Google as provider"
The doc about the Google client says to use an iOS credentials for both iOS and Android platform.

How can we limit the usage the OAuth credentials to a specific bundle/app? This might be a need in case this give access to restricted api behind.

Related Stack [question](https://stackoverflow.com/questions/71175835/how-oidc-providers-use-package-name-and-certificate-fingerprint-for-android-apps).

[2022-04-29 08:41] Mubaola23 commented on #128
Hi @okrad , thank you for taking time to look into this issue, i'll look forward to a reply from you.

[2022-05-03 22:08] #126 closed

[2022-05-03 22:14] okrad commented on #128
Hi @Mubaola23, can you try out the new version?

[2022-05-04 08:39] Mubaola23 commented on #128
Ok, i will update the version and try it out.

[2022-05-05 20:51] okrad commented on #128
That's quite strange...

If you are presented the login page this could mean one of two things:
1. The refresh token is itself expired
2. There's no refresh token

In all of these cases, the client is forced to fetch a new token by means of the appropriate oauth flow.
The state parameter error is even stranger... Can you understand if it Is a server generated error or a client side one?

One thing

[2022-05-05 21:40] okrad commented on #120
Hi @phr34k, sorry for the late response!

It seems something has changed since the last time I used Google OAuth services...
From what I understand, the Bundle ID shouldn't be used anymore as the redirect uri custom scheme. Instead, you must use the "IOS URL scheme" as displayed in the Client ID edit screen. It should be something like ``com.googleusercontent.apps.XXX``.

So, to instantiate the cl

[2022-05-10 01:33] myConsciousness opened #131 "A client for Twitter?"
Hi amazing developers,

I was trying to create a library to authenticate with Twitter's OAuth 2.0 PKCE and luckily I found this library. At first glance this seems applicable to Twitter OAuth2, but is there a plan to implement this for Twitter?

Thank you.

[2022-05-10 01:35] myConsciousness commented on #131
If that implementation is feasible with this library, I will create a pull request when I have time :)

[2022-05-10 20:26] okrad commented on #131
Hi @myConsciousness, something like the following should do the job:

[code]

...Provided that the endpoint urls are correct, I found different variants...

If you are able to test it, I would gladly add it to the package!

[2022-05-20 09:51] Halimeh-manaf commented on #111
for iOS, you can do the following ` final tokenResponse = await _oauthClient.getTokenWithAuthCodeFlow(
           clientId: clientId,
           scopes: scopes,
           webAuthOpts: {'preferEphemeral': true});`

for android, you can just open the logout page from oauth provider and it will clear the previous session.

[2022-05-21 17:01] AlexMainaMunyua commented on #84
Stackoverflow.

[2022-05-23 07:12] sabifa commented on #105
Is there a fully working example available?

[2022-06-01 06:47] shero1111 opened #132 "How to use grant_type PASSWORT ? Where to put Users credentials? Username and passwort"
Hello,

where to apply the following scenario with your oauth plugin? (see screenshot of PostMan below)

There has to be some place to tell the library what the user credentials are. I am not using any Provider like Google or Facebook for Login, I am using my own Java Spring backend with oAuth2.

<img width="604" alt="image" src="https://user-images.githubusercontent.com/64836488/171343966-76990a0

[2022-06-01 07:54] myConsciousness commented on #131
Hi @okrad ,

I am finally working on this issue. Can this library be tested in a local environment only? I have tried several times to check the operation with Flutter for Web in my local environment, but the Stream process that is executed with the following redirect does not start.

[code]

Thank you.

[2022-06-02 00:17] myConsciousness commented on #131
At least I could open this as a popup, but nothing happens from there after authorize the redirect.

In the standard authorization flow, the authorization code is exchanged after the authorize button is pressed, but this does not occur and the popup is not closed in the first place, causing a redirect in the popup.

I was going to test on localhost, but am I doing something wrong?

<img width="701

[2022-06-12 10:22] myConsciousness commented on #131
Hi @okrad ,

I finally got this working, but after much consideration, I feel that it would be better to develop the implementation for Twitter as a separate package, so I will not merge this implementation into this package!

I would like to provide a scope specification in Enum, etc., so I felt it would be better to proceed with development in a separate package.

Thank you anyway!

[2022-06-12 10:22] #131 closed

[2022-07-05 11:48] novas1r1 commented on #131
Hey @myConsciousness,
how did you get it working? I have the same issue, the page comes up, but its loading endlessly after clicking on authorize. Would be really happy if you could tell me how you fixed this.

Best regards and thanks in advance!

[2022-07-17 14:03] okrad commented on #132
Hi @shero1111,
the latest [OAuth 2.0 Security Best Current Practice](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-13#section-3.4) disallows Password grant type, so I don't feel its implementation should be included in the library.

The OAuth2 authorization and grant type should be configured in the "Authorization" tab in Postman.

[2022-08-05 11:40] asmith26 opened #135 "`Error: The getter 'IOSAccessibility' isn't defined for the class 'SecureStorage'.`"
I'm hoping to upgrade my android SDK version to v33 (i.e. [this number](https://github.com/okrad/oauth2_client_test/blob/31235034cb247e364a1701716373bb4ca3080977/android/app/build.gradle#L29)), but when I do this I get the following error:

[code]

## Possible Fix

It would appear this `IOSAccessibility` name has changed to `KeychainAccessibility`: https://github.com/mogol/flutter_secure_storage/p

[2022-08-08 11:31] herrmayr commented on #135
I also cannot build my app anymore on iOS and the log seems to point to this issue as well:

Command PhaseScriptExecution failed with a nonzero exit code

[2022-08-08 12:26] MubaHdev opened #136 "Permission denied portName:'com.apple.iphone.axserver'"
Hello, pls i keep facing this error when running my flutter app in ios physical device, it works fine on emulator tho. when i click on the login button , it redirects to the login page but after entering the login parameters it loads to an error page Permission denied portName:'com.apple.iphone.axserver' on the console.

[2022-08-15 10:22] felix-barz-brickmakers commented on #135
Adding the following to your pubspec.yaml temporarily overrides the flutter_secure_storage to use the last compatible version until this issue gets fixed:

[code]

[2022-08-16 10:45] #135 closed

[2022-08-16 10:48] okrad commented on #135
Thank you @asmith26, let me know if the latest release solves the problem!

[2022-08-20 23:41] asmith26 commented on #135
Seems to be working well for me so far thanks :)

[2022-08-21 13:30] ThexXTURBOXx opened #137 "Update `flutter_web_auth` to `flutter_web_auth_2`?"
I finally took the initiative and updated `flutter_web_auth` for proper Flutter 3 support (using noga-dev's changes) and some more stuff!
The new package is available here: https://pub.dev/packages/flutter_web_auth_2
Since I think that my updated package is only compatible with Flutter 3+, it might be worth noting this as a breaking change and providing a new major version number for the users

Ed

[2022-08-24 11:08] PiotrMitkowski commented on #137
@okrad if you have nothing against, I can take care of the migration. There's no contact with the author (which you can see e.g. under this PR, that was made to support Flutter 3: https://github.com/LinusU/flutter_web_auth/pull/118). Thanks!

[2022-08-25 13:27] Cilenco commented on #101
I feel like this is pretty hard to find, had to do some research also on the dependency repo. You might want to consider adding this to the default example for Android :)

[2022-08-26 09:37] maltekiessling opened #138 "Can't get stored tokens with Azure Active Directory's “offline_access” scope"
Roughly summarized, how the storing and reading of the storage works:

After retrieving the /token endpoint these received scopes are stored together with the tokens in the storage.
When reading the tokens from the storage the getToken method of the TokenStorage class checks if the needed scopes match the stored scopes.

This is done somewhat like this:
[code]

Now to the implementation of OAuth2

[2022-09-07 20:59] okrad commented on #137
@ThexXTURBOXx, @PiotrMitkowski sorry for the late reply, I'm quite busy ATM...

I too am under the impression that flutter_web_auth is in a stale state, and was already looking for other viable solutions. If you are willing to carry on the fork it would be great! There are definitely a couple of PRs that I'd like to see merged, starting with Linux support...

@PiotrMitkowski, I'd gladly accept a P

[2022-09-07 21:37] ThexXTURBOXx commented on #137
@okrad Yes, I am trying to keep my fork as up-to-date as possible. Also, i was already merging many PRs that added Windows support, better support for Android, MacOS and iOS and so on.
There is also a big restructure going on (which does not break packages, but refactors the inner workings of the package).
If @PiotrMitkowski wants to do this, he should just go ahead! If he does not do it within th

[2022-09-08 05:58] PiotrMitkowski commented on #137
@okrad @ThexXTURBOXx No problem, I'll land the PR soon.

[2022-09-11 10:17] okrad commented on #138
Hi @maltekiessling, that's a good point...

Ideally I think that the client should in some way be able to customize some of the helper inner workings. For example, in your case it could instruct the helper to ignore the `offline_access` scope while storing or fetching it to/from the storage.

Now, actually there is no way of doing it, but I think it would be a nice addition, since it would allow f

[2022-09-11 10:22] okrad commented on #136
Hi @MubaHdev, sorry for the late reply...
I'm afraid I can't help you out with this, since I currently don't have an iPhone available.
Let's see if someone else is facing the same problem as you!

[2022-09-26 14:37] ThexXTURBOXx commented on #137
This is done :)

[2022-09-26 14:37] #137 closed

[2022-10-24 12:43] normidar opened #145 "[macOS] I get Provider error 401: invalid_client: Unauthorized"
I am trying to link google oauth2 by this package.

at the first, I choose the `desktop` on the console to link oauth2. that I got 404.

after that, I chose `iOS` on the console then I can choose my account, but after that, I get this error message:

[code]

[2022-10-24 18:11] herrmayr commented on #49
Are there any updates or hints regarding this topic? The issue is still open and it's still a problem, and I have no idea how to solve this ...
Thank you!

[2022-10-24 18:16] scognito commented on #49
I've solved... Finding a new job 🤭

Il lun 24 ott 2022, 20:11 herrmayr ***@***.***> ha scritto:

[2022-10-28 17:22] normidar commented on #84
@AlexMainaMunyua
Thank you for write the hint on here, it is very helpful!

[2022-10-28 17:38] normidar commented on #84
I find the solution for me, in my case:

clientId: 'com.googleusercontent.apps.12234567843-asdffjgh3735dhywbhdtsb6'
redirectUri: 'com.googleusercontent.apps.12234567843-asdffjgh3735dhywbhdtsb6:/'

Im using:

- macOS to build macOS desktop application
- GoogleOAuth2Client
- OAuth2Helper.authorizationCode

good luck 👍 🍀

[2022-11-02 22:57] abcdurga opened #146 "[Question] Switching oauth2 clients without logout"
Hey @okrad , First of all, Thank you for this helper class. It's awesome!

Secondly, I have a question:

The app which I am developing has a multiple clients. All clients are custom oAuth2 clients with PKCE flow. Now the requirement is switching between clients without logout. At present if an app user wants to switch client, he has to logout from one client and login again to another client. Is t

[2022-11-05 16:57] Mstrodl opened #147 "WearOS Support"
Just wanted to say how great this library is! Thanks for making it!

I'm trying to make a WearOS app, and the biggest point of friction for me right now is how to make auth work. Google suggests [device authorization grants](https://github.com/keycloak/keycloak-community/blob/main/design/oauth2-device-authorization-grant.md). Additionally, WearOS doesn't have it's own browser, so we'll need a way

[2022-11-08 16:03] benjaminhorner commented on #111
The link is broken.
Also, I think what the issue is here (and I am currently facing that issue) is for example in an Implicit flow, after calling `oAuth2Helper..disconnect(),` if the user logs in again he/she will NOT be prompted to enter username and password again and the browser acts as if it is using cached data.

[2022-11-09 04:07] abcdurga commented on #146
I realised that I could able to achieve this if I do not call the disconnect method during logout.
Thank you once again @okrad.
I am closing this question.

[2022-11-09 04:07] #146 closed

[2022-11-10 21:58] benjaminhorner commented on #111
If I understand correctly, in the Android flow OAuth2Provider automatically handles the session ID? Or does it keep track of the session cookie? Is there any way to access these?

[2022-11-14 20:00] karababadev opened #149 "getAccessToken stuck on Android"
Hello, I use this package for spotify and it works perfectly for ios. However, when I use it for android the app opens spotify auth screen as expected, then when I press login it redirects to app as expected, but token doesn't come. It stuck. Here is my helper:

`import 'package:oauth2_client/oauth2_helper.dart';
import 'package:oauth2_client/spotify_oauth2_client.dart';
import '../../main.dart';